Flows_mob.json
[{"id":"14ec9ab1.7a9965","type":"tab","label":"Activity","disabled":false,"info":""},{"id":"c2aca374.66565","type":"tab","label":"Player","disabled":false,"info":""},{"id":"9f4aa5e8.12ddd8","type":"tab","label":"Statistics","disabled":false,"info":""},{"id":"5412b814.950de8","type":"tab","label":"Search","disabled":false,"info":""},{"id":"c8bb7807.fd4518","type":"tab","label":"Song","disabled":false,"info":""},{"id":"7266edde.2c6064","type":"tab","label":"Profile","disabled":false,"info":""},{"id":"c54d5cff.5bdb4","type":"tab","label":"User","disabled":false,"info":""},{"id":"4c45768.dab7688","type":"tab","label":"Play Queue","disabled":false,"info":""},{"id":"6d759f5a.8c726","type":"tab","label":"Album","disabled":false,"info":""},{"id":"a0ff3992.fc8b98","type":"tab","label":"Playlist","disabled":false,"info":""},{"id":"35049ff1.e7bb","type":"tab","label":"Newsfeed","disabled":false,"info":""},{"id":"19a5c119.a2b54f","type":"tab","label":"Activity","disabled":false,"info":""},{"id":"75f3e101.615c8","type":"mongodb","z":"","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"e766c1e9.cd9e8","type":"mongodb","z":"","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"bc112bc6.39afc8","type":"mongodb","z":"","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"a173ad1c.04579","type":"mongodb","z":"c54d5cff.5bdb4","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"55489ddb.e81294","type":"http in","z":"c2aca374.66565","name":"Get Player","url":"/player/:playerID","method":"get","upload":false,"swaggerDoc":"","x":140,"y":320,"wires":[["3e45dd6b.00bc32"]]},{"id":"5f912357.f5420c","type":"comment","z":"c2aca374.66565","name":"/player/:playerID","info":"","x":160,"y":220,"wires":[]},{"id":"2c2e264e.c30d4a","type":"http response","z":"c2aca374.66565","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1340,"y":360,"wires":[]},{"id":"a7743fa9.ee928","type":"function","z":"c2aca374.66565","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":360,"wires":[["2c2e264e.c30d4a"]]},{"id":"3e45dd6b.00bc32","type":"function","z":"c2aca374.66565","name":"Check if Play Queue is empty","func":"isEmpty = 0;\nmsg.payload = isEmpty;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["ce8842af.a551b"]]},{"id":"ce8842af.a551b","type":"switch","z":"c2aca374.66565","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":320,"wires":[["6ecfd901.12dc88"],["307e4762.d5b188"]]},{"id":"e900e633.b10258","type":"function","z":"c2aca374.66565","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":280,"wires":[["78f9e41.06c2a1c"]]},{"id":"78f9e41.06c2a1c","type":"http response","z":"c2aca374.66565","name":"","statusCode":"404","headers":{},"x":1340,"y":280,"wires":[]},{"id":"6ecfd901.12dc88","type":"function","z":"c2aca374.66565","name":"Play Queue is empty","func":"message = \"Play Queue is empty\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":280,"wires":[["e900e633.b10258"]]},{"id":"efb2c90d.f5c318","type":"comment","z":"c2aca374.66565","name":"Get information about the user's current playback.","info":"isEmpty = 1 if Play Queue is Empty\nisEmpty = 0 if Play Queue isn't Empty\n","x":540,"y":220,"wires":[]},{"id":"307e4762.d5b188","type":"function","z":"c2aca374.66565","name":"Return Player","func":"musicPlayer = {\n  \"progress\": 69,\n  \"isPlaying\": true,\n  \"currentSong\": 2,\n  \"playerID\": msg.req.params.playerID,\n  \"playqueue\": {\n    \"isEmpty\": false,\n    \"isShuffle\": true,\n    \"isRepeat\": true,\n    \"songs\": [\n      {\n        \"title\": \"Come together\",\n        \"artist\": \"The Beatles\",\n        \"album\": \"Abbey Road\",\n        \"coverURI\": \"string\",\n        \"duration\": 259,\n        \"songID\": 123456789,\n        \"songURI\": \"string\"\n      },\n    {\n      \"title\": \"Something\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 181,\n      \"songID\": 123456788\n    },\n    {\n      \"title\": \"Oh!Darling\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 197,\n      \"songID\": 123456787\n    },\n    {\n      \"title\": \"Octopus's Garden\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 150,\n      \"songID\": 123456786\n    },\n    {\n      \"title\": \"Because\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 327,\n      \"songID\": 123456785\n    }\n    ]\n  }\n}\nmsg.payload=musicPlayer;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":360,"wires":[["a7743fa9.ee928"]]},{"id":"54c8e516.b3403c","type":"http request","z":"c2aca374.66565","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/player/17","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":460,"wires":[["dabd517c.3cc53"]]},{"id":"dabd517c.3cc53","type":"debug","z":"c2aca374.66565","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":460,"wires":[]},{"id":"94e450f.6e1e8b","type":"inject","z":"c2aca374.66565","name":"Get Player","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":460,"wires":[["54c8e516.b3403c"]]},{"id":"e14b6065.8ef07","type":"http in","z":"c2aca374.66565","name":"Play Current Song ","url":"/player/:playerID/play","method":"put","upload":false,"swaggerDoc":"","x":230,"y":680,"wires":[["6ef3772.53e9588"]]},{"id":"bb69c2a7.1dbe2","type":"http response","z":"c2aca374.66565","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1025,"y":680,"wires":[]},{"id":"52bc6bf.0d66b94","type":"function","z":"c2aca374.66565","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":680,"wires":[["bb69c2a7.1dbe2"]]},{"id":"6ef3772.53e9588","type":"function","z":"c2aca374.66565","name":"Return Player","func":"musicPlayer = {\n  \"progress\": 69,\n  \"isPlaying\": msg.payload.isPlaying,\n  \"currentSong\": 2,\n  \"playerID\": msg.req.params.playerID,\n  \"playqueue\": {\n    \"isEmpty\": false,\n    \"isShuffle\": true,\n    \"isRepeat\": true,\n    \"songs\": [\n      {\n        \"title\": \"Come together\",\n        \"artist\": \"The Beatles\",\n        \"album\": \"Abbey Road\",\n        \"coverURI\": \"string\",\n        \"duration\": 259,\n        \"songID\": 123456789,\n        \"songURI\": \"string\"\n      },\n    {\n      \"title\": \"Something\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 181,\n      \"songID\": 123456788\n    },\n    {\n      \"title\": \"Oh!Darling\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 197,\n      \"songID\": 123456787\n    },\n    {\n      \"title\": \"Octopus's Garden\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 150,\n      \"songID\": 123456786\n    },\n    {\n      \"title\": \"Because\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 327,\n      \"songID\": 123456785\n    }\n    ]\n  }\n}\nmsg.payload=musicPlayer;\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":680,"wires":[["52bc6bf.0d66b94"]]},{"id":"760eb8ec.1e82c8","type":"http request","z":"c2aca374.66565","name":"","method":"PUT","ret":"obj","paytoqs":true,"url":"http://127.0.0.1:1880/player/18/play","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":820,"wires":[["b024f981.da77e8"]]},{"id":"b024f981.da77e8","type":"debug","z":"c2aca374.66565","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":820,"wires":[]},{"id":"4ff32f14.62275","type":"inject","z":"c2aca374.66565","name":"Play Current Song","topic":"","payload":"{\"isPlaying\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":820,"wires":[["760eb8ec.1e82c8"]]},{"id":"62af953b.8dc90c","type":"comment","z":"c2aca374.66565","name":"Play Current Song from the Play Queue","info":"","x":690,"y":620,"wires":[]},{"id":"4eff08c7.f849a8","type":"comment","z":"c2aca374.66565","name":"/player/:playerID/play","info":"","x":180,"y":620,"wires":[]},{"id":"8eac4346.6ae4c","type":"http in","z":"c2aca374.66565","name":"Pause Current Song ","url":"/player/:playerID/pause","method":"put","upload":false,"swaggerDoc":"","x":230,"y":1060,"wires":[["b3836cc.532e69"]]},{"id":"4deb2d1c.2221f4","type":"http response","z":"c2aca374.66565","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1025,"y":1060,"wires":[]},{"id":"237c1fc1.52a43","type":"function","z":"c2aca374.66565","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":815,"y":1060,"wires":[["4deb2d1c.2221f4"]]},{"id":"b3836cc.532e69","type":"function","z":"c2aca374.66565","name":"Return Player","func":"musicPlayer = {\n  \"progress\": 69,\n  \"isPlaying\": msg.payload.isPlaying,\n  \"playerID\": msg.req.params.playerID,\n  \"currentSong\": 2,\n  \"playqueue\": {\n    \"isEmpty\": false,\n    \"isShuffle\": true,\n    \"isRepeat\": true,\n    \"songs\": [\n      {\n        \"title\": \"Come together\",\n        \"artist\": \"The Beatles\",\n        \"album\": \"Abbey Road\",\n        \"coverURI\": \"string\",\n        \"duration\": 259,\n        \"songID\": 123456789,\n        \"songURI\": \"string\"\n      },\n    {\n      \"title\": \"Something\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 181,\n      \"songID\": 123456788\n    },\n    {\n      \"title\": \"Oh!Darling\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 197,\n      \"songID\": 123456787\n    },\n    {\n      \"title\": \"Octopus's Garden\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 150,\n      \"songID\": 123456786\n    },\n    {\n      \"title\": \"Because\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 327,\n      \"songID\": 123456785\n    }\n    ]\n  }\n}\nmsg.payload=musicPlayer;\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":1060,"wires":[["237c1fc1.52a43"]]},{"id":"1095d272.9348de","type":"http request","z":"c2aca374.66565","name":"","method":"PUT","ret":"obj","paytoqs":true,"url":"http://127.0.0.1:1880/player/19/pause","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":1200,"wires":[["89819524.cf76f8"]]},{"id":"89819524.cf76f8","type":"debug","z":"c2aca374.66565","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":1200,"wires":[]},{"id":"d5e9529.87df0b","type":"inject","z":"c2aca374.66565","name":"Pause Current Song","topic":"","payload":"{\"isPlaying\":false}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":1200,"wires":[["1095d272.9348de"]]},{"id":"ad9e2a52.d53238","type":"comment","z":"c2aca374.66565","name":"Pause  Current Song from the Play Queue","info":"","x":700,"y":1000,"wires":[]},{"id":"ce4dd0dd.4c32","type":"comment","z":"c2aca374.66565","name":"/player/:playerID/pause","info":"","x":198.75,"y":985.0000152587891,"wires":[]},{"id":"966973eb.df08","type":"http in","z":"c2aca374.66565","name":"Play Next Song ","url":"/player/:playerID/next","method":"put","upload":false,"swaggerDoc":"","x":240,"y":1460,"wires":[["a3a60278.0bce1"]]},{"id":"7953a643.74fed8","type":"http response","z":"c2aca374.66565","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1045,"y":1460,"wires":[]},{"id":"33630db9.7ffc12","type":"function","z":"c2aca374.66565","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":835,"y":1460,"wires":[["7953a643.74fed8"]]},{"id":"a3a60278.0bce1","type":"function","z":"c2aca374.66565","name":"Return Player","func":"musicPlayer = {\n  \"progress\": 69,\n  \"isPlaying\": true,\n  \"currentSong\": msg.payload.currentSong,\n  \"playerID\": msg.req.params.playerID,\n  \"playqueue\": {\n    \"isEmpty\": false,\n    \"isShuffle\": true,\n    \"isRepeat\": true,\n    \"songs\": [\n      {\n        \"title\": \"Come together\",\n        \"artist\": \"The Beatles\",\n        \"album\": \"Abbey Road\",\n        \"coverURI\": \"string\",\n        \"duration\": 259,\n        \"songID\": 123456789,\n        \"songURI\": \"string\"\n      },\n    {\n      \"title\": \"Something\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 181,\n      \"songID\": 123456788\n    },\n    {\n      \"title\": \"Oh!Darling\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 197,\n      \"songID\": 123456787\n    },\n    {\n      \"title\": \"Octopus's Garden\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 150,\n      \"songID\": 123456786\n    },\n    {\n      \"title\": \"Because\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 327,\n      \"songID\": 123456785\n    }\n    ]\n  }\n}\nmsg.payload=musicPlayer;\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":1460,"wires":[["33630db9.7ffc12"]]},{"id":"8f1edb8b.e52ea8","type":"http request","z":"c2aca374.66565","name":"","method":"PUT","ret":"obj","paytoqs":true,"url":"http://127.0.0.1:1880/player/15/next","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":1580,"wires":[["5f4528e8.9c8998"]]},{"id":"5f4528e8.9c8998","type":"debug","z":"c2aca374.66565","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":1580,"wires":[]},{"id":"f54eea4a.359348","type":"inject","z":"c2aca374.66565","name":"Play Next Song ","topic":"","payload":"{\"currentSong\":3}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":1580,"wires":[["8f1edb8b.e52ea8"]]},{"id":"513ab9f7.112208","type":"comment","z":"c2aca374.66565","name":"Play the next Song from the Play Queue","info":"","x":710,"y":1400,"wires":[]},{"id":"d032d53.e156528","type":"comment","z":"c2aca374.66565","name":"/player/:playerID/next","info":"","x":200,"y":1400,"wires":[]},{"id":"e74c3377.03c76","type":"http in","z":"c2aca374.66565","name":"Play PreviousSong ","url":"/player/:playerID/previous","method":"put","upload":false,"swaggerDoc":"","x":270,"y":1840,"wires":[["9bc0cfe0.2bd75"]]},{"id":"8ae246c1.cf79a8","type":"http response","z":"c2aca374.66565","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1065,"y":1840,"wires":[]},{"id":"fec17f26.dfb74","type":"function","z":"c2aca374.66565","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1840,"wires":[["8ae246c1.cf79a8"]]},{"id":"9bc0cfe0.2bd75","type":"function","z":"c2aca374.66565","name":"Return Player","func":"musicPlayer = {\n  \"progress\": 69,\n  \"isPlaying\": true,\n  \"currentSong\": msg.payload.currentSong,\n  \"playerID\": msg.req.params.playerID,\n  \"playqueue\": {\n    \"isEmpty\": false,\n    \"isShuffle\": true,\n    \"isRepeat\": true,\n    \"songs\": [\n      {\n        \"title\": \"Come together\",\n        \"artist\": \"The Beatles\",\n        \"album\": \"Abbey Road\",\n        \"coverURI\": \"string\",\n        \"duration\": 259,\n        \"songID\": 123456789,\n        \"songURI\": \"string\"\n      },\n    {\n      \"title\": \"Something\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 181,\n      \"songID\": 123456788\n    },\n    {\n      \"title\": \"Oh!Darling\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 197,\n      \"songID\": 123456787\n    },\n    {\n      \"title\": \"Octopus's Garden\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 150,\n      \"songID\": 123456786\n    },\n    {\n      \"title\": \"Because\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 327,\n      \"songID\": 123456785\n    }\n    ]\n  }\n}\nmsg.payload=musicPlayer;\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":1840,"wires":[["fec17f26.dfb74"]]},{"id":"6b343c1d.004844","type":"http request","z":"c2aca374.66565","name":"","method":"PUT","ret":"obj","paytoqs":true,"url":"http://127.0.0.1:1880/player/11/previous","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":1980,"wires":[["aebf96bc.e77a98"]]},{"id":"aebf96bc.e77a98","type":"debug","z":"c2aca374.66565","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":1980,"wires":[]},{"id":"f1b18a68.82d2b8","type":"inject","z":"c2aca374.66565","name":"Play Previous Song ","topic":"","payload":"{\"currentSong\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":1980,"wires":[["6b343c1d.004844"]]},{"id":"201786ff.13539a","type":"comment","z":"c2aca374.66565","name":"Play the previousSong from the Play Queue","info":"","x":750,"y":1780,"wires":[]},{"id":"ed4b7079.ecdcf","type":"comment","z":"c2aca374.66565","name":"/player/:playerID/previous","info":"","x":230,"y":1780,"wires":[]},{"id":"4f4d1b04.d3c904","type":"http in","z":"c2aca374.66565","name":"Slider","url":"/player/:playerID/seek","method":"put","upload":false,"swaggerDoc":"","x":230,"y":2240,"wires":[["9b409828.0a2ca8"]]},{"id":"130b1d63.0742f3","type":"http response","z":"c2aca374.66565","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1065,"y":2240,"wires":[]},{"id":"9b997790.232618","type":"function","z":"c2aca374.66565","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":855,"y":2240,"wires":[["130b1d63.0742f3"]]},{"id":"9b409828.0a2ca8","type":"function","z":"c2aca374.66565","name":"Return Player","func":"musicPlayer = {\n  \"progress\": msg.payload.progress,\n  \"playerID\": msg.req.params.playerID,\n  \"isPlaying\": true,\n  \"currentSong\":2,\n  \"playqueue\": {\n    \"isEmpty\": false,\n    \"isShuffle\": true,\n    \"isRepeat\": true,\n    \"songs\": [\n      {\n        \"title\": \"Come together\",\n        \"artist\": \"The Beatles\",\n        \"album\": \"Abbey Road\",\n        \"coverURI\": \"string\",\n        \"duration\": 259,\n        \"songID\": 123456789,\n        \"songURI\": \"string\"\n      },\n    {\n      \"title\": \"Something\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 181,\n      \"songID\": 123456788\n    },\n    {\n      \"title\": \"Oh!Darling\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 197,\n      \"songID\": 123456787\n    },\n    {\n      \"title\": \"Octopus's Garden\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 150,\n      \"songID\": 123456786\n    },\n    {\n      \"title\": \"Because\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 327,\n      \"songID\": 123456785\n    }\n    ]\n  }\n}\nmsg.payload=musicPlayer;\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":2240,"wires":[["9b997790.232618"]]},{"id":"81eded02.e617d","type":"http request","z":"c2aca374.66565","name":"","method":"PUT","ret":"obj","paytoqs":true,"url":"http://127.0.0.1:1880/player/12/seek","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":2380,"wires":[["a09be574.cc9e58"]]},{"id":"a09be574.cc9e58","type":"debug","z":"c2aca374.66565","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":2380,"wires":[]},{"id":"42c802c8.396c3c","type":"inject","z":"c2aca374.66565","name":"Slider","topic":"","payload":"{\"progress\":44}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":2380,"wires":[["81eded02.e617d"]]},{"id":"4483734e.5d480c","type":"comment","z":"c2aca374.66565","name":"Play the Song from the given second","info":"","x":720,"y":2180,"wires":[]},{"id":"57f1cca4.1d8a64","type":"comment","z":"c2aca374.66565","name":"/player/:playerID/seek","info":"","x":220,"y":2180,"wires":[]},{"id":"5b7cc490.c168dc","type":"http in","z":"9f4aa5e8.12ddd8","name":"Get Statistics","url":"/statistics","method":"get","upload":false,"swaggerDoc":"","x":150,"y":240,"wires":[["8cfc4e8f.21544"]]},{"id":"758802f2.94911c","type":"comment","z":"9f4aa5e8.12ddd8","name":"/statistics","info":"","x":140,"y":140,"wires":[]},{"id":"17fee60.14fec1a","type":"http response","z":"9f4aa5e8.12ddd8","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1340,"y":280,"wires":[]},{"id":"cad4ed7c.7ba26","type":"function","z":"9f4aa5e8.12ddd8","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":280,"wires":[["17fee60.14fec1a"]]},{"id":"8cfc4e8f.21544","type":"function","z":"9f4aa5e8.12ddd8","name":"Check if user has statistics","func":"hasStatistics = 1;\nmsg.payload = hasStatistics;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":240,"wires":[["8ee86b91.f2ee38"]]},{"id":"8ee86b91.f2ee38","type":"switch","z":"9f4aa5e8.12ddd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":240,"wires":[["a6d0d588.0d7138"],["4f1618e6.b9cf08"]]},{"id":"ffc867fb.b8bf28","type":"function","z":"9f4aa5e8.12ddd8","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":200,"wires":[["9ac2a1d8.2a678"]]},{"id":"9ac2a1d8.2a678","type":"http response","z":"9f4aa5e8.12ddd8","name":"","statusCode":"404","headers":{},"x":1340,"y":200,"wires":[]},{"id":"a6d0d588.0d7138","type":"function","z":"9f4aa5e8.12ddd8","name":"User has no statistics","func":"message = \"You have no statistics to view.Please upload music first\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":200,"wires":[["ffc867fb.b8bf28"]]},{"id":"4f1618e6.b9cf08","type":"function","z":"9f4aa5e8.12ddd8","name":"Return Statistics","func":"statistics={\n  \"userID\": 8888,\n  \"followers\": 150000,\n  \"top5\": [\n    \"Ophelia\",\n    \"Ho hey\",\n    \"Sleep on the floor\",\n    \"Stubborn Love\",\n    \"Gloria\"\n  ],\n  \"gender\": [\n    \"Male 40%\",\n    \"Female 60%\"\n  ],\n  \"ages\": [\n    \"20-30: 50%\",\n    \"30-40: 30%\",\n    \"40-50: 20%\"\n  ],\n  \"location\": [\n    \"Chicago,US\",\n    \"Los Angeles,US\",\n    \"Dallas,US\",\n    \"New York,US\",\n    \"Atlanta,US\"\n  ],\n  \"monthlyListeners\": 2000000,\n  \"imagesURL\": [\n    \"https://mob/media/File:Lumineers_statistics_graph.jpg\"\n  ]\n}\nmsg.payload=statistics;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":280,"wires":[["cad4ed7c.7ba26"]]},{"id":"44f40d5b.207584","type":"http request","z":"9f4aa5e8.12ddd8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/statistics","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":420,"wires":[["55a000bd.2e81c"]]},{"id":"55a000bd.2e81c","type":"debug","z":"9f4aa5e8.12ddd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":420,"wires":[]},{"id":"92eb3707.eb7978","type":"inject","z":"9f4aa5e8.12ddd8","name":"Get Statistics","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":420,"wires":[["44f40d5b.207584"]]},{"id":"a80fdede.e105e","type":"http in","z":"5412b814.950de8","name":"Get Search","url":"/search","method":"get","upload":false,"swaggerDoc":"","x":150,"y":320,"wires":[["ec92a921.62a138"]]},{"id":"fb58d783.7ced28","type":"comment","z":"5412b814.950de8","name":"/search","info":"","x":130,"y":180,"wires":[]},{"id":"aa91e1f3.e2f09","type":"http response","z":"5412b814.950de8","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1340,"y":360,"wires":[]},{"id":"d6a4ef0f.053e7","type":"function","z":"5412b814.950de8","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":360,"wires":[["aa91e1f3.e2f09"]]},{"id":"ec92a921.62a138","type":"function","z":"5412b814.950de8","name":"Check if there are matching results","func":"hasResults = 1;\nmsg.payload = hasResults;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["fdc5658f.e8b798"]]},{"id":"fdc5658f.e8b798","type":"switch","z":"5412b814.950de8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":320,"wires":[["f0f8db17.7fb118"],["dd3e43.71afe1c"]]},{"id":"aa5c0176.6d2e9","type":"function","z":"5412b814.950de8","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":280,"wires":[["d11cb30d.3adb7"]]},{"id":"d11cb30d.3adb7","type":"http response","z":"5412b814.950de8","name":"","statusCode":"404","headers":{},"x":1340,"y":280,"wires":[]},{"id":"f0f8db17.7fb118","type":"function","z":"5412b814.950de8","name":"No results found","func":"message = \"No results to view.Try another keyword\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":280,"wires":[["aa5c0176.6d2e9"]]},{"id":"dd3e43.71afe1c","type":"function","z":"5412b814.950de8","name":"Return Search Results ","func":"search={\n  \"songs\": [\n    {\n      \"title\": \"City of stars\",\n      \"artist\": \"Ryan Gosling,Emma Stone\",\n      \"album\": \"La La Land\",\n      \"coverURI\": \"string\",\n      \"songURI\": \"string\"\n    }\n  ],\n  \"albums\": [\n    {\n      \"title\": \"Salonica rock city \",\n      \"artist\": \"Bad Movies\",\n      \"coverURI\": \"https://en.wikipedia.org/wiki/Cleopatra_(album)#/media/File:Cleopatra_album_cover.jpg\",\n\n    }\n  ],\n  \"playlists\": [\n    {\n      \"title\": \"Little city\",\n      \"coverURI\": \"string\"\n    }\n  ],\n  \"profiles\": [\n    {\n      \"username\": \"City of the Sun\",\n      \"coverURI\": \"string\",\n      \"isArtist\": true\n    }\n  ]\n}\nmsg.payload=search;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":360,"wires":[["d6a4ef0f.053e7"]]},{"id":"7fb5b91f.a092f8","type":"http request","z":"5412b814.950de8","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"http://127.0.0.1:1880/search","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":480,"wires":[["2ef950a3.f4d75"]]},{"id":"2ef950a3.f4d75","type":"debug","z":"5412b814.950de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":480,"wires":[]},{"id":"eeb52380.050fb","type":"inject","z":"5412b814.950de8","name":"Get Search","topic":"","payload":"{\"keyword\":\"city\",\"type\":\"song,album,playlist,profile\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":480,"wires":[["7fb5b91f.a092f8"]]},{"id":"24698dc9.26d282","type":"comment","z":"c8bb7807.fd4518","name":"Create a Song","info":"","x":390,"y":120,"wires":[]},{"id":"d55d323f.2e96a","type":"http in","z":"c8bb7807.fd4518","name":"Get Song Info","url":"/song/:songID","method":"get","upload":false,"swaggerDoc":"","x":190,"y":640,"wires":[["b30c70ab.ecc89"]]},{"id":"820290e6.eaace","type":"http response","z":"c8bb7807.fd4518","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1340,"y":620,"wires":[]},{"id":"1faca092.c6a6df","type":"function","z":"c8bb7807.fd4518","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":620,"wires":[["820290e6.eaace"]]},{"id":"10217d1c.0de5f3","type":"function","z":"c8bb7807.fd4518","name":"Return Song","func":"song = {\n  \"title\": \"Come together\",\n  \"artist\": \"The Beatles\",\n  \"album\": \"Abbey Road\",\n  \"coverURI\": \"https://mob/media/File:AbbeyRoad_song_cover.jpg\",\n  \"duration\": 259,\n  \"songID\": msg.req.params.songID,\n  \"songURI\": \"string\"\n}\nmsg.payload=song;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":620,"wires":[["1faca092.c6a6df"]]},{"id":"c4518d97.f45e2","type":"http request","z":"c8bb7807.fd4518","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"http://127.0.0.1:1880/song/34","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":800,"wires":[["c1f75e2b.4d91f"]]},{"id":"c1f75e2b.4d91f","type":"debug","z":"c8bb7807.fd4518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":800,"wires":[]},{"id":"4263e03.fdb872","type":"inject","z":"c8bb7807.fd4518","name":"Get Song","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":800,"wires":[["c4518d97.f45e2"]]},{"id":"8cdc9e92.8e5c","type":"comment","z":"c8bb7807.fd4518","name":"Get song info","info":"","x":710,"y":560,"wires":[]},{"id":"6a1f77c6.610698","type":"comment","z":"c8bb7807.fd4518","name":"/song/:songID","info":"","x":150,"y":500,"wires":[]},{"id":"b30c70ab.ecc89","type":"function","z":"c8bb7807.fd4518","name":"ExtractURLParams","func":"msg.payload = msg.req.params;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":640,"wires":[["8c74325e.b05f1"]]},{"id":"94b22e9b.add87","type":"http in","z":"c8bb7807.fd4518","name":"Delete song","url":"/song/:songID","method":"delete","upload":false,"swaggerDoc":"","x":190,"y":980,"wires":[["751bfdc9.4fd0f4"]]},{"id":"9a35157b.7c7c48","type":"http request","z":"c8bb7807.fd4518","name":"","method":"DELETE","ret":"txt","paytoqs":true,"url":"http://127.0.0.1:1880/song/34","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":1160,"wires":[["43a2e29b.08194c"]]},{"id":"43a2e29b.08194c","type":"debug","z":"c8bb7807.fd4518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":1160,"wires":[]},{"id":"470834a8.07ee4c","type":"inject","z":"c8bb7807.fd4518","name":"Delete song","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":1160,"wires":[["9a35157b.7c7c48"]]},{"id":"d671f79f.2ecd18","type":"comment","z":"c8bb7807.fd4518","name":"Delete song ","info":"","x":750,"y":900,"wires":[]},{"id":"751bfdc9.4fd0f4","type":"function","z":"c8bb7807.fd4518","name":"ExtractURLParams","func":"msg.payload = msg.req.params;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":980,"wires":[["a5c55a65.d082b8"]]},{"id":"8c74325e.b05f1","type":"function","z":"c8bb7807.fd4518","name":"Check if song exists","func":"foundSong = 1;\nmsg.payload = foundSong;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":640,"wires":[["f6242a1e.a10e08"]]},{"id":"f6242a1e.a10e08","type":"switch","z":"c8bb7807.fd4518","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":640,"wires":[["10217d1c.0de5f3"],["89b785e8.4589d8"]]},{"id":"89b785e8.4589d8","type":"function","z":"c8bb7807.fd4518","name":"Song Not Found","func":"message = \"Song not found\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":680,"wires":[["a0089dbf.9612b"]]},{"id":"a0089dbf.9612b","type":"function","z":"c8bb7807.fd4518","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":680,"wires":[["c5cdd9d9.1fdd08"]]},{"id":"c5cdd9d9.1fdd08","type":"http response","z":"c8bb7807.fd4518","name":"","statusCode":"404","headers":{},"x":1340,"y":680,"wires":[]},{"id":"4c1cf854.6700c8","type":"http in","z":"c8bb7807.fd4518","name":"Post Song","url":"/song","method":"post","upload":true,"swaggerDoc":"","x":180,"y":180,"wires":[["4e912916.448cd8"]]},{"id":"60e5fdd3.084b44","type":"change","z":"c8bb7807.fd4518","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Song uploaded","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":220,"wires":[["a08b4ec5.2ed4b"]]},{"id":"8caf8341.2071c","type":"comment","z":"c8bb7807.fd4518","name":"/song","info":"","x":130,"y":120,"wires":[]},{"id":"ce495c2.50560a","type":"function","z":"c8bb7807.fd4518","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":940,"wires":[["2943808.ec3468"]]},{"id":"9b9aa038.08528","type":"function","z":"c8bb7807.fd4518","name":"Delete Song","func":"message=\"The song was deleted\";\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":940,"wires":[["ce495c2.50560a"]]},{"id":"a5c55a65.d082b8","type":"function","z":"c8bb7807.fd4518","name":"Check if song exists","func":"foundSong = 1;\nmsg.payload = foundSong;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":980,"wires":[["f5a0c998.08b8b8"]]},{"id":"f5a0c998.08b8b8","type":"switch","z":"c8bb7807.fd4518","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":980,"wires":[["9b9aa038.08528"],["f4c39549.5799c8"]]},{"id":"f4c39549.5799c8","type":"function","z":"c8bb7807.fd4518","name":"Song Not Found","func":"message = \"You can't delete a song that doesn't exist!\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1040,"wires":[["507769b7.90b668"]]},{"id":"2943808.ec3468","type":"http response","z":"c8bb7807.fd4518","name":"","statusCode":"200","headers":{},"x":1300,"y":940,"wires":[]},{"id":"899382ff.ff15b","type":"http response","z":"c8bb7807.fd4518","name":"","statusCode":"404","headers":{},"x":1300,"y":1040,"wires":[]},{"id":"507769b7.90b668","type":"function","z":"c8bb7807.fd4518","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1040,"wires":[["899382ff.ff15b"]]},{"id":"495c4322.282ccc","type":"http in","z":"7266edde.2c6064","name":"Post Profile","url":"/profile","method":"post","upload":false,"swaggerDoc":"","x":210,"y":160,"wires":[["e3253d1.8f60bc"]]},{"id":"192cf800.f68f28","type":"http response","z":"7266edde.2c6064","name":"","statusCode":"201","headers":{"content-type":"application/json"},"x":1040,"y":160,"wires":[]},{"id":"ff50115e.41b47","type":"function","z":"7266edde.2c6064","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 201;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":160,"wires":[["192cf800.f68f28"]]},{"id":"e3253d1.8f60bc","type":"function","z":"7266edde.2c6064","name":"Return new User's Profile","func":"profile = {\n  \"username\": msg.payload.username,\n  \"description\": \"Follow me if you love Pantelidis\",\n  \"followingID\": [\n    22,\n    33,\n    44,\n    55,\n    666\n  ],\n  \"followersID\": [\n    999,\n    4444,\n    44,\n    234\n  ],\n  \"coverURI\": msg.payload.coverURI,\n  \"media\": [\n    {\n      \"icon\": \"fb.png\",\n      \"link\": \"www.facebook.com/niksaoul\"\n    }\n  ],\n  \"playlists\": [\n    {\n      \"playlistID\": 123456,\n      \"title\": \"A playlist that wants to be adored\",\n      \"userID\": 123,\n      \"coverURI\": \"https://mob/media/File:Adored_playlist_cover.jpg\",\n      \"description\": \"Sometimes I fantasise when the streets are cold and lonely\",\n      \"songs\": [\n        {\n          \"title\": \"Come together\",\n          \"artist\": \"The Beatles\",\n          \"album\": \"Abbey Road\",\n          \"coverURI\": \"https://mob/media/File:AbbeyRoad_song_cover.jpg\",\n          \"duration\": 259,\n          \"songID\": 123456789,\n          \"songURI\": \"string\"\n        }\n      ],\n      \"isPublic\": true,\n      \"isEmpty\": false\n    }\n  ],\n  \"isArtist\": msg.payload.isArtist,\n  \"userID\": msg.payload.userID,\n  \"email\": \"niksaoul@mob.com\"\n}\nmsg.payload=profile;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":160,"wires":[["ff50115e.41b47"]]},{"id":"bcd5349b.b14808","type":"comment","z":"7266edde.2c6064","name":"/profile","info":"","x":145,"y":58.75,"wires":[]},{"id":"8ff09a7a.9f5838","type":"http request","z":"7266edde.2c6064","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/profile","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":260,"wires":[["55459acd.6b1594"]]},{"id":"55459acd.6b1594","type":"debug","z":"7266edde.2c6064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":260,"wires":[]},{"id":"53042914.0f85a8","type":"comment","z":"7266edde.2c6064","name":"Create a Profile","info":"","x":600,"y":100,"wires":[]},{"id":"2eb9a652.c173ca","type":"inject","z":"7266edde.2c6064","name":"Post Profile","topic":"","payload":"{\"username\":\"niksaoul\",\"userID\":9999,\"isArtist\":true,\"coverURI\":\"https://mob/media/File:Niksaoul_profile_cover.jpg\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":260,"wires":[["8ff09a7a.9f5838"]]},{"id":"7c0b2f5.f2460d","type":"comment","z":"7266edde.2c6064","name":"/profile/:userID","info":"","x":120,"y":472.50000762939453,"wires":[]},{"id":"e9e00581.482b28","type":"http in","z":"7266edde.2c6064","name":"Update Profile Info","url":"/profile/:userID","method":"put","upload":false,"swaggerDoc":"","x":130,"y":640,"wires":[["33eb2de0.83aac2"]]},{"id":"1ef491e2.89aede","type":"http request","z":"7266edde.2c6064","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/profile/22","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":780,"wires":[["a63152a2.a5494"]]},{"id":"a63152a2.a5494","type":"debug","z":"7266edde.2c6064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":780,"wires":[]},{"id":"7a01db86.0e8734","type":"inject","z":"7266edde.2c6064","name":"Update Profile Info","topic":"","payload":"{\"newUsername\":\"Nikolaos7\",\"newDescription\":\"Hi! I'm Nikos\",\"coverURI\":\"https://mob/media/File:Niksaoul_profile_cover2.jpg\",\"newMedia\":[{\"icon\":\"fb.png\",\"link\":\"www.facebook.com/niksaoul\"}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":780,"wires":[["1ef491e2.89aede"]]},{"id":"33eb2de0.83aac2","type":"function","z":"7266edde.2c6064","name":"Search for Profile ","func":"msg.profileExists = 1;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":640,"wires":[["89809181.4b05b"]]},{"id":"89809181.4b05b","type":"switch","z":"7266edde.2c6064","name":"","property":"profileExists","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":640,"wires":[["f692e899.fb80b8"],["d9bee31f.575be"]]},{"id":"f692e899.fb80b8","type":"function","z":"7266edde.2c6064","name":"Return Updated Profile","func":"msg.payload = {\n  \"username\": msg.payload.newUsername,\n  \"description\": msg.payload.newDescription,\n  \"followingID\": [\n    22,\n    33,\n    44,\n    55,\n    666\n  ],\n  \"followersID\": [\n    999,\n    4444,\n    44,\n    234\n  ],\n  \"coverURI\": msg.payload.coverURI,\n  \"media\": msg.payload.newMedia,\n  \"playlists\": [\n    {\n      \"playlistID\": 123456,\n      \"title\": \"A playlist that wants to be adored\",\n      \"userID\": 123,\n      \"coverURI\": \"https://mob/media/File:Adored_playlist_cover.jpg\",\n      \"description\": \"Sometimes I fantasise when the streets are cold and lonely\",\n      \"songs\": [\n        {\n          \"title\": \"Come together\",\n          \"artist\": \"The Beatles\",\n          \"album\": \"Abbey Road\",\n          \"coverURI\": \"https://mob/media/File:AbbeyRoad_song_cover.jpg\",          \"duration\": 259,\n          \"songID\": 123456789,\n          \"songURI\": \"string\"\n        }\n      ],\n      \"isPublic\": true,\n      \"isEmpty\": false\n    }\n  ],\n  \"isArtist\": true,\n  \"userID\": msg.req.params.userID,\n  \"email\": \"niksaoul@mob.com\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":580,"wires":[["6d4e3a25.4baad4"]]},{"id":"6d4e3a25.4baad4","type":"function","z":"7266edde.2c6064","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":580,"wires":[["3b687f42.2e579"]]},{"id":"3b687f42.2e579","type":"http response","z":"7266edde.2c6064","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1100,"y":580,"wires":[]},{"id":"d9bee31f.575be","type":"function","z":"7266edde.2c6064","name":"Invalid Info","func":"msg.payload = \"The profile with userID = \" + msg.req.params.userID+ \" doesn't exist\";\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":680,"wires":[["8da05cdf.5fc35"]]},{"id":"8da05cdf.5fc35","type":"function","z":"7266edde.2c6064","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 400;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":680,"wires":[["8d8cd9b3.970bd8"]]},{"id":"8d8cd9b3.970bd8","type":"http response","z":"7266edde.2c6064","name":"","statusCode":"400","headers":{},"x":1100,"y":680,"wires":[]},{"id":"ebddb5d7.f68358","type":"comment","z":"7266edde.2c6064","name":"Update Profile Info","info":"","x":570,"y":520,"wires":[]},{"id":"3b4d88ba.fe6208","type":"http in","z":"7266edde.2c6064","name":"Get Profile Info","url":"/profile/:userID","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1040,"wires":[["9b77e229.d82e8"]]},{"id":"b3309b8.3b86268","type":"http response","z":"7266edde.2c6064","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1400,"y":1080,"wires":[]},{"id":"84fd7f69.82cf3","type":"function","z":"7266edde.2c6064","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1080,"wires":[["b3309b8.3b86268"]]},{"id":"9b77e229.d82e8","type":"function","z":"7266edde.2c6064","name":"ExtractURLParams","func":"msg.payload = msg.req.params;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1040,"wires":[["9af34ffd.632b9"]]},{"id":"a4837376.6f403","type":"function","z":"7266edde.2c6064","name":"Return Profile","func":"profile = {\n  \"username\": \"niksaoul\",\n  \"description\": \"Follow me if you love Pantelidis\",\n  \"followingID\": [\n    22,\n    33,\n    44,\n    55,\n    666\n  ],\n  \"followersID\": [\n    999,\n    4444,\n    44,\n    234\n  ],\n  \"coverURI\": \"https://mob/media/File:Niksaoul_profile_cover.jpg\",\n  \"media\": [\n    {\n      \"icon\": \"fb.png\",\n      \"link\": \"www.facebook.com/niksaoul\"\n    }\n  ],\n  \"playlists\": [\n    {\n      \"playlistID\": 123456,\n      \"title\": \"A playlist that wants to be adored\",\n      \"userID\": 123,\n   \"coverURI\": \"https://mob/media/File:Adored_playlist_cover.jpg\",\n      \"description\": \"Sometimes I fantasise when the streets are cold and lonely\",\n      \"songs\": [\n        {\n          \"title\": \"Come together\",\n          \"artist\": \"The Beatles\",\n          \"album\": \"Abbey Road\",\n          \"coverURI\": \"https://mob/media/File:AbbeyRoad_song_cover.jpg\",\n          \"duration\": 259,\n          \"songID\": 123456789,\n          \"songURI\": \"string\"\n        }\n      ],\n      \"isPublic\": true,\n      \"isEmpty\": false\n    }\n  ],\n  \"isArtist\": true,\n  \"userID\": msg.req.params.userID,\n  \"email\": \"niksaoul@mob.com\"\n}\nmsg.payload=profile;\nreturn msg;\n","outputs":1,"noerr":0,"x":1000,"y":1080,"wires":[["84fd7f69.82cf3"]]},{"id":"bc1ab108.20646","type":"comment","z":"7266edde.2c6064","name":"/profile/:userID","info":"","x":111.25,"y":905.0000143051147,"wires":[]},{"id":"6b2442e8.0ff59c","type":"http request","z":"7266edde.2c6064","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/profile/23","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":1200,"wires":[["d0d7fa10.01ecd8"]]},{"id":"d0d7fa10.01ecd8","type":"debug","z":"7266edde.2c6064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":1200,"wires":[]},{"id":"6bbd7da1.317384","type":"comment","z":"7266edde.2c6064","name":"Get a profile by userID","info":"","x":600,"y":940,"wires":[]},{"id":"f310f69.a879c08","type":"inject","z":"7266edde.2c6064","name":"Get Profile Info","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":1200,"wires":[["6b2442e8.0ff59c"]]},{"id":"9af34ffd.632b9","type":"function","z":"7266edde.2c6064","name":"Check if userID is valid","func":"isValid = 1;\nmsg.payload = isValid;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1040,"wires":[["315d6d4a.0d70c2"]]},{"id":"315d6d4a.0d70c2","type":"switch","z":"7266edde.2c6064","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":1040,"wires":[["4fc40015.838a6"],["a4837376.6f403"]]},{"id":"28172908.4aa5a6","type":"function","z":"7266edde.2c6064","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1000,"wires":[["6dbaacea.740d64"]]},{"id":"6dbaacea.740d64","type":"http response","z":"7266edde.2c6064","name":"","statusCode":"404","headers":{},"x":1400,"y":1000,"wires":[]},{"id":"4fc40015.838a6","type":"function","z":"7266edde.2c6064","name":"Not Found","func":"message = \"Profile not found.\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1000,"wires":[["28172908.4aa5a6"]]},{"id":"67e84a8b.c60664","type":"comment","z":"7266edde.2c6064","name":"Authorize userID","info":"isValid = 1 if userID is **found**\nisValid = 0 if userID is **not found**\n\n\n\n","x":600,"y":1000,"wires":[]},{"id":"fb52e3a7.02278","type":"http in","z":"7266edde.2c6064","name":"Follow a User","url":"/profile/:userID/follow/:followingID","method":"put","upload":false,"swaggerDoc":"","x":110,"y":1400,"wires":[["71732e38.d0ed4"]]},{"id":"f92ca2cb.335e6","type":"comment","z":"7266edde.2c6064","name":"/profile/:userID/follow/:followingID","info":"","x":170,"y":1300,"wires":[]},{"id":"d60af7a9.136488","type":"http response","z":"7266edde.2c6064","name":"","statusCode":"200","headers":{},"x":1093.7500190734863,"y":1400.000020980835,"wires":[]},{"id":"bb58df29.41e2f","type":"function","z":"7266edde.2c6064","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":905,"y":1400,"wires":[["d60af7a9.136488"]]},{"id":"71732e38.d0ed4","type":"function","z":"7266edde.2c6064","name":"Return Profile with updated Followings","func":"profile = {\n  \"username\": \"niksaoul\",\n  \"description\": \"Follow me if you love Pantelidis\",\n  \"followingID\": [\n    22,\n    33,\n    44,\n    55,\n    666,\n    parseInt(msg.req.params.followingID)\n  ],\n  \"followersID\": [\n    999,\n    4444,\n    44,\n    234\n  ],\n  \"media\": [\n    {\n      \"icon\": \"fb.png\",\n      \"link\": \"www.facebook.com/niksaoul\"\n    }\n  ],\n  \"playlists\": [\n    {\n      \"playlistID\": 123456,\n      \"title\": \"A playlist that wants to be adored\",\n      \"userID\": 123,\n      \"coverURI\": \"https://mob/media/File:Adored_playlist_cover.jpg\",\n      \"description\": \"Sometimes I fantasise when the streets are cold and lonely\",\n      \"songs\": [\n        {\n          \"title\": \"Come together\",\n          \"artist\": \"The Beatles\",\n          \"album\": \"Abbey Road\",\n          \"coverURI\": \"https://mob/media/File:AbbeyRoad_song_cover.jpg\",\n          \"duration\": 259,\n          \"songID\": 123456789,\n          \"songURI\": \"string\"\n        }\n      ],\n      \"isPublic\": true,\n      \"isEmpty\": false\n    }\n  ],\n  \"isArtist\": true,\n  \"userID\": msg.req.params.userID,\n  \"email\": \"niksaoul@mob.com\"\n}\nmsg.payload=profile;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1400,"wires":[["a63f1579.d38528"]]},{"id":"e902da46.6999d8","type":"http request","z":"7266edde.2c6064","name":"","method":"PUT","ret":"txt","paytoqs":true,"url":"http://127.0.0.1:1880/profile/19/follow/27","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":1540,"wires":[["28da6356.284cac"]]},{"id":"28da6356.284cac","type":"debug","z":"7266edde.2c6064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":1540,"wires":[]},{"id":"fdc89830.029d28","type":"inject","z":"7266edde.2c6064","name":"Follow a User","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":1540,"wires":[["e902da46.6999d8"]]},{"id":"66add768.17df88","type":"comment","z":"7266edde.2c6064","name":"Follow someone.This userID provided is added in the FollowingID array.","info":"","x":570,"y":1320,"wires":[]},{"id":"324b7353.2a97dc","type":"comment","z":"7266edde.2c6064","name":"Unfollow someone.Delete the userID of the User you want to unfollow from the FollowingsID array.","info":"","x":670,"y":1720,"wires":[]},{"id":"9744c587.ad52c8","type":"http in","z":"7266edde.2c6064","name":"Unfollow a User","url":"/profile/:userID/unfollow/:followingID","method":"delete","upload":false,"swaggerDoc":"","x":122.5,"y":1780.0000267028809,"wires":[["91983098.c27be"]]},{"id":"10545b6b.a729d5","type":"http response","z":"7266edde.2c6064","name":"","statusCode":"200","headers":{},"x":1160,"y":1780,"wires":[]},{"id":"d869fabf.19e5b8","type":"function","z":"7266edde.2c6064","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1780,"wires":[["10545b6b.a729d5"]]},{"id":"6b411d47.8e7054","type":"http request","z":"7266edde.2c6064","name":"","method":"DELETE","ret":"txt","paytoqs":true,"url":"http://127.0.0.1:1880/profile/11/unfollow/666","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":1960,"wires":[["3e0a3f1b.06f89"]]},{"id":"3e0a3f1b.06f89","type":"debug","z":"7266edde.2c6064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":1960,"wires":[]},{"id":"e3b86b6e.030ec8","type":"inject","z":"7266edde.2c6064","name":"Unfollow a User","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":1960,"wires":[["6b411d47.8e7054"]]},{"id":"91983098.c27be","type":"function","z":"7266edde.2c6064","name":"Return profile with updated followingID","func":"profile = {\n \"msg\":\"You are not following this user!\",\n  \"username\": \"niksaoul\",\n  \"description\": \"Follow me if you love Pantelidis\",\n  \"followingID\": [\n    22,\n    33,\n    44,\n    55\n  ],\n  \"followersID\": [\n    999,\n    4444,\n    44,\n    234\n  ],\n  \"media\": [\n    {\n      \"icon\": \"fb.png\",\n      \"link\": \"www.facebook.com/niksaoul\"\n    }\n  ],\n  \"playlists\": [\n    {\n      \"playlistID\": 123456,\n      \"title\": \"A playlist that wants to be adored\",\n      \"userID\": 123,\n      \"coverURI\": \"https://mob/media/File:Adored_playlist_cover.jpg\",\n      \"description\": \"Sometimes I fantasise when the streets are cold and lonely\",\n      \"songs\": [\n        {\n          \"title\": \"Come together\",\n          \"artist\": \"The Beatles\",\n          \"album\": \"Abbey Road\",\n          \"coverURI\": \"https://mob/media/File:AbbeyRoad_song_cover.jpg\",\n          \"duration\": 259,\n          \"songID\": 123456789,\n          \"songURI\": \"string\"\n        }\n      ],\n      \"isPublic\": true,\n      \"isEmpty\": false\n    }\n  ],\n  \"isArtist\": true,\n  \"userID\": msg.req.params.userID ,\n  \"email\": \"niksaoul@mob.com\"\n}\nmsg.payload=profile;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1780,"wires":[["b3d0312f.b2f0b"]]},{"id":"ed4c3d3e.eb73b","type":"comment","z":"7266edde.2c6064","name":"/profile/userID/unfollow/:followingID","info":"","x":176.25,"y":1678.7500247955322,"wires":[]},{"id":"548d9c51.5ed1a4","type":"http in","z":"7266edde.2c6064","name":"Add a new Follower","url":"/profile/:userID/followedby/:followersID","method":"put","upload":false,"swaggerDoc":"","x":130,"y":2180,"wires":[["7ea7752b.98583c"]]},{"id":"ebfc98a4.8ecdd8","type":"comment","z":"7266edde.2c6064","name":"/profile/:userID/followedby/:followersID","info":"","x":190,"y":2080,"wires":[]},{"id":"11469f5d.5e41b1","type":"http response","z":"7266edde.2c6064","name":"","statusCode":"200","headers":{},"x":1140,"y":2180,"wires":[]},{"id":"fa6ae001.a6ca6","type":"function","z":"7266edde.2c6064","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":2180,"wires":[["11469f5d.5e41b1"]]},{"id":"7ea7752b.98583c","type":"function","z":"7266edde.2c6064","name":"Return profile with updated followersID","func":"profile = {\n  \"username\": \"niksaoul\",\n  \"description\": \"Follow me if you love Pantelidis\",\n  \"followingID\": [\n    22,\n    33,\n    44,\n    55,\n    666\n  ],\n  \"followersID\": [\n    999,\n    4444,\n    44,\n    234,\n    parseInt(msg.req.params.followersID)\n  ],\n  \"media\": [\n    {\n      \"icon\": \"fb.png\",\n      \"link\": \"www.facebook.com/niksaoul\"\n    }\n  ],\n  \"playlists\": [\n    {\n      \"playlistID\": 123456,\n      \"title\": \"A playlist that wants to be adored\",\n      \"userID\": 123,\n      \"description\": \"Sometimes I fantasise when the streets are cold and lonely\",\n      \"songs\": [\n        {\n          \"title\": \"Come together\",\n          \"artist\": \"The Beatles\",\n          \"album\": \"Abbey Road\",\n          \"cover\": \"string\",\n          \"duration\": 259,\n          \"songID\": 123456789\n        }\n      ],\n      \"isPublic\": true,\n      \"isEmpty\": false\n    }\n  ],\n  \"isArtist\": true,\n  \"userID\": msg.req.params.userID,\n  \"email\": \"niksaoul@mob.com\"\n}\nmsg.payload=profile;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":2180,"wires":[["a953cb1f.018788"]]},{"id":"be7e0875.a94038","type":"http request","z":"7266edde.2c6064","name":"","method":"PUT","ret":"txt","paytoqs":true,"url":"http://127.0.0.1:1880/profile/11/followedby/69","tls":"","persist":false,"proxy":"","authType":"","x":551,"y":2320,"wires":[["195c3bb3.f0f114"]]},{"id":"195c3bb3.f0f114","type":"debug","z":"7266edde.2c6064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":2320,"wires":[]},{"id":"d1b10aed.552468","type":"inject","z":"7266edde.2c6064","name":"Add a new Follower","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":2320,"wires":[["be7e0875.a94038"]]},{"id":"7c23bf6a.21b12","type":"comment","z":"7266edde.2c6064","name":"Someone followed you.The userID of the user who follows you is added in the FollowersID array.","info":"","x":770,"y":2120,"wires":[]},{"id":"ce8f00c6.6d382","type":"comment","z":"7266edde.2c6064","name":"Someone unfollowed you. Remove this followerID from your FollowersID array.","info":"","x":687.5000152587891,"y":2505.0000371932983,"wires":[]},{"id":"65e5fdaf.2c50c4","type":"http in","z":"7266edde.2c6064","name":"Delete a follower","url":"profile/:userID/unfollowedby/:followersID","method":"delete","upload":false,"swaggerDoc":"","x":102.5,"y":2580.0000381469727,"wires":[["b1b5c7fe.1c4d08"]]},{"id":"fb52dea0.7599e","type":"http response","z":"7266edde.2c6064","name":"","statusCode":"200","headers":{},"x":1100,"y":2580,"wires":[]},{"id":"b173005f.d7656","type":"function","z":"7266edde.2c6064","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":2580,"wires":[["fb52dea0.7599e"]]},{"id":"ed29314e.246be","type":"function","z":"7266edde.2c6064","name":"Return message","func":"unfollowed=\"The user with userID = \"+ msg.req.params.followersID +\" unfollowed you.\";\nmsg.payload=unfollowed;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":2580,"wires":[["b173005f.d7656"]]},{"id":"6c651e61.119da","type":"http request","z":"7266edde.2c6064","name":"","method":"DELETE","ret":"txt","paytoqs":true,"url":"http://127.0.0.1:1880/profile/12/unfollowedby/234","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":2720,"wires":[["33bd2366.aedcbc"]]},{"id":"33bd2366.aedcbc","type":"debug","z":"7266edde.2c6064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":2720,"wires":[]},{"id":"7cefc246.f2b17c","type":"inject","z":"7266edde.2c6064","name":"Delete a follower","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":2720,"wires":[["6c651e61.119da"]]},{"id":"b1b5c7fe.1c4d08","type":"function","z":"7266edde.2c6064","name":"Return user with updated followersID","func":"profile = {\n  \"username\": \"niksaoul\",\n  \"description\": \"Follow me if you love Pantelidis\",\n  \"followingID\": [\n    22,\n    33,\n    44,\n    55,\n    666\n  ],\n  \"followersID\": [\n    999,\n    4444,\n    44\n  ],\n  \"media\": [\n    {\n      \"icon\": \"fb.png\",\n      \"link\": \"www.facebook.com/niksaoul\"\n    }\n  ],\n  \"playlists\": [\n    {\n      \"playlistID\": 123456,\n      \"title\": \"A playlist that wants to be adored\",\n      \"userID\": 123,\n      \"description\": \"Sometimes I fantasise when the streets are cold and lonely\",\n      \"songs\": [\n        {\n          \"title\": \"Come together\",\n          \"artist\": \"The Beatles\",\n          \"album\": \"Abbey Road\",\n          \"cover\": \"string\",\n          \"duration\": 259,\n          \"songID\": 123456789\n        }\n      ],\n      \"isPublic\": true,\n      \"isEmpty\": false\n    }\n  ],\n  \"isArtist\": true,\n  \"userID\": msg.req.params.userID,\n  \"email\": \"niksaoul@mob.com\"\n}\nmsg.payload=profile;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":2580,"wires":[["ed29314e.246be"]]},{"id":"95d684b1.83f888","type":"comment","z":"7266edde.2c6064","name":"profile/:userID/unfollowedby/:followersID","info":"","x":173.75,"y":2447.500036239624,"wires":[]},{"id":"b3d0312f.b2f0b","type":"function","z":"7266edde.2c6064","name":"Return message","func":"unfollow=\"You unfollowed the user with userID = \"+ msg.req.params.followingID ;\nmsg.payload=unfollow;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1780,"wires":[["d869fabf.19e5b8"]]},{"id":"a953cb1f.018788","type":"function","z":"7266edde.2c6064","name":"Return message","func":"followed=\"The user with userID = \"+ msg.req.params.followersID +\" followed you.\";\nmsg.payload=followed;\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":2180,"wires":[["fa6ae001.a6ca6"]]},{"id":"a63f1579.d38528","type":"function","z":"7266edde.2c6064","name":"Return message","func":"follow=\"You followed the user with userID = \"+ msg.req.params.followingID ;\nmsg.payload=follow;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1400,"wires":[["bb58df29.41e2f"]]},{"id":"64d38ad8.19d2c4","type":"http response","z":"c8bb7807.fd4518","name":"","statusCode":"201","headers":{},"x":1240,"y":220,"wires":[]},{"id":"a08b4ec5.2ed4b","type":"function","z":"c8bb7807.fd4518","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 201;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":220,"wires":[["64d38ad8.19d2c4"]]},{"id":"4e912916.448cd8","type":"function","z":"c8bb7807.fd4518","name":"Check File Type","func":"msg.isValid = 1;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["65593917.20fa78"]]},{"id":"65593917.20fa78","type":"switch","z":"c8bb7807.fd4518","name":"","property":"isValid","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":180,"wires":[["23fa5e86.d1f112"],["60e5fdd3.084b44"]]},{"id":"e02dbb97.eb4f18","type":"function","z":"c8bb7807.fd4518","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 400;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":160,"wires":[["812d2009.3292f"]]},{"id":"812d2009.3292f","type":"http response","z":"c8bb7807.fd4518","name":"","statusCode":"400","headers":{},"x":1240,"y":160,"wires":[]},{"id":"23fa5e86.d1f112","type":"function","z":"c8bb7807.fd4518","name":"Invalid input.","func":"message = \"Bad Request. Invalid input.\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":160,"wires":[["e02dbb97.eb4f18"]]},{"id":"a0f58a04.a45648","type":"inject","z":"c8bb7807.fd4518","name":"Post Song","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":360,"wires":[["a4305ff3.b01e7"]]},{"id":"54fe3fb0.8e56c","type":"function","z":"c8bb7807.fd4518","name":"Format the header and payload","func":"msg.headers = {\n    \"Content-Type\": \"multipart/form-data; boundary=------------------------d74496d66958873e\"\n}\n\n\nmsg.payload = '--------------------------d74496d66958873e\\r\\n'+\n'Content-Disposition: form-data; name=\"select\"\\r\\n'+\n'\\r\\n'+\n'true\\r\\n'+\n'--------------------------d74496d66958873e\\r\\n'+\n'Content-Disposition: form-data; name=\"print\"\\r\\n'+\n'\\r\\n'+\n'true\\r\\n'+\n'--------------------------d74496d66958873e\\r\\n'+\n'Content-Disposition: form-data; name=\"file\"; filename=\"'+msg.filename+'\"\\r\\n'+\n'Content-Type: application/octet-stream\\r\\n'+\n'\\r\\n'+\nmsg.payload+'\\r\\n'+\n'--------------------------d74496d66958873e--\\r\\n';\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":360,"wires":[["96469fb.d5e816"]]},{"id":"96469fb.d5e816","type":"http request","z":"c8bb7807.fd4518","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:1880/song","tls":"","persist":false,"proxy":"","authType":"","x":1050,"y":360,"wires":[["d58688f1.d04a68"]]},{"id":"a4305ff3.b01e7","type":"file in","z":"c8bb7807.fd4518","name":"","filename":"\\Users\\\\Desktop\\mob\\ComeTogether.zip","format":"","chunk":false,"sendError":false,"x":480,"y":360,"wires":[["54fe3fb0.8e56c"]]},{"id":"d58688f1.d04a68","type":"debug","z":"c8bb7807.fd4518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":360,"wires":[]},{"id":"1d29cada.212095","type":"comment","z":"5412b814.950de8","name":"Search for Songs, Albums, Playlists and Profiles with a keyword.","info":"","x":510,"y":180,"wires":[]},{"id":"f6228c7d.25317","type":"comment","z":"5412b814.950de8","name":"Check if there are matching results for the keyword given.","info":"hasResults = 0 if there are no results matching the keyword\nhasResults = 1 if there are  results matching the keyword","x":490,"y":240,"wires":[]},{"id":"bc06eaae.5fac78","type":"http in","z":"c54d5cff.5bdb4","name":"Get User","url":"/user/:username","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1440,"wires":[["319c7562.4644ca"]]},{"id":"87bd685.b6aef98","type":"http response","z":"c54d5cff.5bdb4","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1180,"y":1400,"wires":[]},{"id":"7a46d59c.fd203c","type":"function","z":"c54d5cff.5bdb4","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1400,"wires":[["87bd685.b6aef98"]]},{"id":"4f76407b.477e8","type":"function","z":"c54d5cff.5bdb4","name":"Return user","func":"user = {\n  \"username\": \"niksaoul\",\n  \"password\": \"123456789abcd!\",\n  \"isArtist\": true,\n  \"userID\": 1312,\n  \"email\": \"niksaoul@mob.com\"\n}\nmsg.payload=user;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1400,"wires":[["7a46d59c.fd203c"]]},{"id":"df4495d5.08f0d8","type":"comment","z":"c54d5cff.5bdb4","name":"/user/:username","info":"","x":145,"y":1298.7500190734863,"wires":[]},{"id":"7cc8cfda.77dbe","type":"http request","z":"c54d5cff.5bdb4","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/user/niksaoul","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1620,"wires":[["412cefc6.009b3"]]},{"id":"412cefc6.009b3","type":"debug","z":"c54d5cff.5bdb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":1620,"wires":[]},{"id":"46da2af7.354de4","type":"comment","z":"c54d5cff.5bdb4","name":"Get a user by username","info":"","x":630.0000076293945,"y":1336.2500200271606,"wires":[]},{"id":"f59e05e4.dbe868","type":"inject","z":"c54d5cff.5bdb4","name":"Get User","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":1620,"wires":[["7cc8cfda.77dbe"]]},{"id":"8f0e8279.06db6","type":"http in","z":"c54d5cff.5bdb4","name":"Post User","url":"/user","method":"post","upload":false,"swaggerDoc":"","x":120,"y":160,"wires":[["8396a91.1526c58"]]},{"id":"398ca086.fea84","type":"comment","z":"c54d5cff.5bdb4","name":"/user","info":"","x":90,"y":40,"wires":[]},{"id":"1a1e6f5a.1e0f61","type":"http request","z":"c54d5cff.5bdb4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/user","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":340,"wires":[["8ff01b59.359a78"]]},{"id":"8ff01b59.359a78","type":"debug","z":"c54d5cff.5bdb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":340,"wires":[]},{"id":"3947db5a.1a8334","type":"comment","z":"c54d5cff.5bdb4","name":"Create a User ","info":"","x":590,"y":60,"wires":[]},{"id":"4a5415fa.7cc93c","type":"inject","z":"c54d5cff.5bdb4","name":"Post User","topic":"","payload":"{\"username\":\"cmastral\",\"password\":\"123456789abcd!\",\"isArtist\":true,\"email\":\"niksaoul@mob.com\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":340,"wires":[["1a1e6f5a.1e0f61"]]},{"id":"5efb505c.72537","type":"http in","z":"c54d5cff.5bdb4","name":"Login","url":"/user/login","method":"get","upload":false,"swaggerDoc":"","x":70,"y":580,"wires":[["256677a6.bc2b18"]]},{"id":"b874aeee.1b5fa","type":"http response","z":"c54d5cff.5bdb4","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1263,"y":624,"wires":[]},{"id":"f9ca325c.5c2c","type":"function","z":"c54d5cff.5bdb4","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1058,"y":624,"wires":[["b874aeee.1b5fa"]]},{"id":"c14aff02.273ba","type":"function","z":"c54d5cff.5bdb4","name":"Return token","func":"token = {\n  \"token\": \"string\"\n}\nmsg.payload=token;\nreturn msg;","outputs":1,"noerr":0,"x":853,"y":623,"wires":[["f9ca325c.5c2c"]]},{"id":"ca003de5.37d95","type":"comment","z":"c54d5cff.5bdb4","name":"/user/login","info":"","x":80,"y":480,"wires":[]},{"id":"c120f395.1348d","type":"http request","z":"c54d5cff.5bdb4","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"http://127.0.0.1:1880/user/login","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":760,"wires":[["f23139f2.31b308"]]},{"id":"f23139f2.31b308","type":"debug","z":"c54d5cff.5bdb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":760,"wires":[]},{"id":"753d068c.e46da8","type":"comment","z":"c54d5cff.5bdb4","name":"Login","info":"","x":370,"y":700,"wires":[]},{"id":"82abc20b.ccd21","type":"inject","z":"c54d5cff.5bdb4","name":"Login","topic":"","payload":"{\"username\":\"niksaoul\",\"password\":\"123456789abcd!\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":760,"wires":[["c120f395.1348d"]]},{"id":"256677a6.bc2b18","type":"function","z":"c54d5cff.5bdb4","name":"Check Username - Password Combination","func":"msg.isSuccessful = 0;\nreturn msg;","outputs":1,"noerr":0,"x":388.45452880859375,"y":581,"wires":[["ce38ced4.1c185"]]},{"id":"ce38ced4.1c185","type":"switch","z":"c54d5cff.5bdb4","name":"","property":"isSuccessful","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":694.5454750061035,"y":582.7272853851318,"wires":[["d77e70e9.f1aa8"],["c14aff02.273ba"]]},{"id":"2974fd4.906f202","type":"http in","z":"c54d5cff.5bdb4","name":"Change Password","url":"/user/:username","method":"put","upload":false,"swaggerDoc":"","x":110,"y":980,"wires":[["b8a1d4ee.612998"]]},{"id":"aa2bf0cd.5e034","type":"http response","z":"c54d5cff.5bdb4","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1280,"y":960,"wires":[]},{"id":"c799b4a.7e66a48","type":"function","z":"c54d5cff.5bdb4","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":960,"wires":[["aa2bf0cd.5e034"]]},{"id":"4971c7de.fe8d18","type":"function","z":"c54d5cff.5bdb4","name":"Return changed User","func":"user = {\n  \"username\": \"niksaoul\",\n  \"password\": msg.payload.newpassword,\n  \"isArtist\": true,\n  \"userID\": 1312,\n  \"email\": \"niksaoul@mob.com\"\n}\nmsg.payload=user;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":960,"wires":[["c799b4a.7e66a48"]]},{"id":"a46209c3.308d78","type":"http request","z":"c54d5cff.5bdb4","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/user/niksaoul","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":1160,"wires":[["fc325e22.479ad"]]},{"id":"fc325e22.479ad","type":"debug","z":"c54d5cff.5bdb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":1160,"wires":[]},{"id":"1bd9dc87.f77503","type":"comment","z":"c54d5cff.5bdb4","name":"Change a User's Password","info":"","x":610,"y":920,"wires":[]},{"id":"b82e9ebf.d2b13","type":"inject","z":"c54d5cff.5bdb4","name":"Change Password","topic":"","payload":"{\"newpassword\":\"841236548!\",\"token\":\"laskfjsdnsfus5674\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1160,"wires":[["a46209c3.308d78"]]},{"id":"514ab3e6.29f55c","type":"comment","z":"c54d5cff.5bdb4","name":"Authorize user","info":"isSuccessful = 1 if user - password combination is **correct**\nisSuccessful = 0 if user - password combination is **wrong**\n","x":360,"y":540,"wires":[]},{"id":"4857bf43.1f75b","type":"http in","z":"4c45768.dab7688","name":"Post PlayQueue","url":"/playqueue","method":"post","upload":false,"swaggerDoc":"","x":160,"y":160,"wires":[["371c48e4.7c81e8"]]},{"id":"da947f87.386af","type":"comment","z":"4c45768.dab7688","name":"/playqueue","info":"","x":120,"y":20,"wires":[]},{"id":"601dbbe6.5c4724","type":"http request","z":"4c45768.dab7688","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/playqueue","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":300,"wires":[["b2d42c11.08962"]]},{"id":"b2d42c11.08962","type":"debug","z":"4c45768.dab7688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":300,"wires":[]},{"id":"4874d336.31e63c","type":"comment","z":"4c45768.dab7688","name":"Create a Play Queue","info":"","x":640,"y":60,"wires":[]},{"id":"5aebd941.3bca68","type":"inject","z":"4c45768.dab7688","name":"Post PlayQueue","topic":"","payload":"{\"songs\":[{\"title\":\"Come together\",\"artist\":\"The Beatles\",\"album\":\"Abbey Road\",\"cover\":\"https://mob/media/File:AbbeyRoad_song_cover.jpg\",\"duration\":259,\"songID\":123456789}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":300,"wires":[["601dbbe6.5c4724"]]},{"id":"dd92459e.3cfb18","type":"http response","z":"4c45768.dab7688","name":"","statusCode":"201","headers":{"content-type":"application/json"},"x":1340,"y":200,"wires":[]},{"id":"1e189f33.a46821","type":"function","z":"4c45768.dab7688","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 201;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":200,"wires":[["dd92459e.3cfb18"]]},{"id":"2d50b5de.86ccaa","type":"switch","z":"4c45768.dab7688","name":"","property":"isEmpty","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":160,"wires":[["a9171697.c5fbb8"],["7e198823.a6c0a8"]]},{"id":"a3d5fb21.97bac8","type":"function","z":"4c45768.dab7688","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 400;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":120,"wires":[["417515a0.9ec2fc"]]},{"id":"417515a0.9ec2fc","type":"http response","z":"4c45768.dab7688","name":"","statusCode":"400","headers":{},"x":1340,"y":120,"wires":[]},{"id":"a9171697.c5fbb8","type":"function","z":"4c45768.dab7688","name":"PlayQueue is empty","func":"message = \"Play Queue is empty\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":120,"wires":[["a3d5fb21.97bac8"]]},{"id":"c69cc45e.36c9c8","type":"comment","z":"4c45768.dab7688","name":"Check if Play Queue is empty","info":"isEmpty = 1 if Play Queue is Empty\nisEmpty = 0 if Play Queue isn't Empty\n","x":400,"y":120,"wires":[]},{"id":"7e198823.a6c0a8","type":"function","z":"4c45768.dab7688","name":"Return new play queue","func":"playQueue = {\n  \"isEmpty\": false,\n  \"isShuffle\": true,\n  \"isRepeat\": true,\n  \"playerID\": 12,\n  \"songs\": msg.payload.songs\n}\nmsg.payload=playQueue;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":200,"wires":[["1e189f33.a46821"]]},{"id":"7852f782.377c48","type":"http in","z":"4c45768.dab7688","name":"Get PlayQueue","url":"/playqueue/:playerID","method":"get","upload":false,"swaggerDoc":"","x":180,"y":580,"wires":[["eecdfc0a.9033e"]]},{"id":"49304e9f.ad33b","type":"http request","z":"4c45768.dab7688","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/playqueue/15","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":740,"wires":[["5cd452dc.11126c"]]},{"id":"5cd452dc.11126c","type":"debug","z":"4c45768.dab7688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":740,"wires":[]},{"id":"ccc775b2.79fea8","type":"inject","z":"4c45768.dab7688","name":"Get PlayQueue","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":740,"wires":[["49304e9f.ad33b"]]},{"id":"2daec57c.4da58a","type":"http response","z":"4c45768.dab7688","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1360,"y":620,"wires":[]},{"id":"c65ccc4e.a3bba","type":"function","z":"4c45768.dab7688","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":620,"wires":[["2daec57c.4da58a"]]},{"id":"eecdfc0a.9033e","type":"function","z":"4c45768.dab7688","name":"Check if PlayQueue is empty","func":"isEmpty = 0;\nmsg.payload = isEmpty;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":580,"wires":[["72aedab5.0d4e24"]]},{"id":"72aedab5.0d4e24","type":"switch","z":"4c45768.dab7688","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":580,"wires":[["7c54fdec.8953d4"],["584bfac.5494404"]]},{"id":"270d2977.b57696","type":"function","z":"4c45768.dab7688","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":540,"wires":[["ad5b45f2.43de88"]]},{"id":"ad5b45f2.43de88","type":"http response","z":"4c45768.dab7688","name":"","statusCode":"404","headers":{},"x":1360,"y":540,"wires":[]},{"id":"7c54fdec.8953d4","type":"function","z":"4c45768.dab7688","name":"PlayQueue is empty","func":"message = \"Play Queue is empty\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":540,"wires":[["270d2977.b57696"]]},{"id":"ac7d26fb.396fc8","type":"comment","z":"4c45768.dab7688","name":"Check if Play Queue is empty","info":"isEmpty = 1 if Play Queue is Empty\nisEmpty = 0 if Play Queue isn't Empty\n","x":480,"y":540,"wires":[]},{"id":"584bfac.5494404","type":"function","z":"4c45768.dab7688","name":"Return play queue","func":"playQueue = {\n  \"isEmpty\": true,\n  \"isShuffle\": true,\n  \"isRepeat\": true,\n  \"playerID\": msg.req.params.playerID,\n  \"songs\": [\n    {\n      \"title\": \"Come together\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 259,\n      \"songID\": 123456789\n    }\n  ]\n}\nmsg.payload=playQueue;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":620,"wires":[["c65ccc4e.a3bba"]]},{"id":"7c998bab.43f274","type":"http in","z":"4c45768.dab7688","name":"Edit PlayQueue ","url":"/playqueue/:playerID","method":"put","upload":false,"swaggerDoc":"","x":360,"y":960,"wires":[["c287e62b.424338"]]},{"id":"cef8976f.fc4758","type":"http response","z":"4c45768.dab7688","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1120,"y":960,"wires":[]},{"id":"19fd7f58.1e77a1","type":"function","z":"4c45768.dab7688","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":960,"wires":[["cef8976f.fc4758"]]},{"id":"c287e62b.424338","type":"function","z":"4c45768.dab7688","name":"Return playback settings","func":"playqueue= {\n  \"isEmpty\": true,\n  \"isShuffle\": msg.payload.isShuffle,\n  \"isRepeat\": msg.payload.isRepeat,\n  \"playerID\": msg.req.params.playerID,\n  \"songs\": [\n    {\n      \"title\": \"Come together\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 259,\n      \"songID\": 123456789\n    }\n  ]\n}\nmsg.payload=playqueue;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":960,"wires":[["19fd7f58.1e77a1"]]},{"id":"7eedeb4b.af5184","type":"http request","z":"4c45768.dab7688","name":"","method":"PUT","ret":"obj","paytoqs":true,"url":"http://127.0.0.1:1880/playqueue/12","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":1040,"wires":[["ec41c6a0.6aea08"]]},{"id":"ec41c6a0.6aea08","type":"debug","z":"4c45768.dab7688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":1040,"wires":[]},{"id":"58f37795.6532a8","type":"inject","z":"4c45768.dab7688","name":"Edit PlayQueue","topic":"","payload":"{\"isShuffle\":true,\"isRepeat\":false}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":1040,"wires":[["7eedeb4b.af5184"]]},{"id":"78219d99.aecc24","type":"comment","z":"4c45768.dab7688","name":"Add song to PlayQueue","info":"","x":800,"y":1180,"wires":[]},{"id":"61b5b283.6cdc3c","type":"comment","z":"4c45768.dab7688","name":"Edit PlayQueue","info":"","x":660,"y":900,"wires":[]},{"id":"eabed9e6.6b3578","type":"comment","z":"4c45768.dab7688","name":"Get PlayQueue","info":"","x":660,"y":460,"wires":[]},{"id":"673971d8.fd849","type":"comment","z":"4c45768.dab7688","name":"/playqueue/:playerID/song/:songID","info":"","x":318.75,"y":1147.5000166893005,"wires":[]},{"id":"f50a1cf1.26da","type":"http in","z":"4c45768.dab7688","name":"Delete song from PlayQueue","url":"/playqueue/:playerID/song/:songID","method":"delete","upload":false,"swaggerDoc":"","x":260,"y":1700,"wires":[["72371df5.e00e34"]]},{"id":"656449ef.497778","type":"http request","z":"4c45768.dab7688","name":"","method":"DELETE","ret":"obj","paytoqs":true,"url":"http://127.0.0.1:1880/playqueue/22/song/132","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":1840,"wires":[["512a4783.378b18"]]},{"id":"512a4783.378b18","type":"debug","z":"4c45768.dab7688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":1840,"wires":[]},{"id":"273a7c27.c19674","type":"inject","z":"4c45768.dab7688","name":"Delete song from PlayQueue","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":1840,"wires":[["656449ef.497778"]]},{"id":"360ed481.07996c","type":"comment","z":"4c45768.dab7688","name":"Delete song from PlayQueue","info":"","x":800,"y":1560,"wires":[]},{"id":"4f600abd.59f504","type":"http in","z":"4c45768.dab7688","name":"Add album to PlayQueue","url":"/playqueue/:playerID/album/:albumID","method":"put","upload":false,"swaggerDoc":"","x":190,"y":2120,"wires":[["2f2a2b7b.618e14"]]},{"id":"cd12bb69.2ba128","type":"http request","z":"4c45768.dab7688","name":"","method":"PUT","ret":"obj","paytoqs":true,"url":"http://127.0.0.1:1880/playqueue/33/album/10","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":2240,"wires":[["89736638.648968"]]},{"id":"89736638.648968","type":"debug","z":"4c45768.dab7688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1000,"y":2240,"wires":[]},{"id":"e8c7432c.beb1f","type":"inject","z":"4c45768.dab7688","name":"Add album to PlayQueue","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":2240,"wires":[["cd12bb69.2ba128"]]},{"id":"b8aa81b2.847e1","type":"comment","z":"4c45768.dab7688","name":"/playqueue/:playerID/album/:albumID","info":"","x":225,"y":1963.7500295639038,"wires":[]},{"id":"a86d73f0.58c57","type":"comment","z":"4c45768.dab7688","name":"Add album to PlayQueue","info":"","x":810,"y":2000,"wires":[]},{"id":"cee69bbc.73dcc8","type":"http in","z":"4c45768.dab7688","name":"Add playlist to PlayQueue","url":"/playqueue/:playerID/playlist/:playlistID","method":"put","upload":false,"swaggerDoc":"","x":210,"y":2560,"wires":[["476e09a.6be1ff8"]]},{"id":"62537e0a.4ef6e","type":"http request","z":"4c45768.dab7688","name":"","method":"PUT","ret":"obj","paytoqs":true,"url":"http://127.0.0.1:1880/playqueue/33/playlist/7","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":2780,"wires":[["23b655e.1b71eaa"]]},{"id":"23b655e.1b71eaa","type":"debug","z":"4c45768.dab7688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":2780,"wires":[]},{"id":"4fd12c60.223d44","type":"inject","z":"4c45768.dab7688","name":"Add playlist to PlayQueue","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":2780,"wires":[["62537e0a.4ef6e"]]},{"id":"253b62d2.7cdefe","type":"comment","z":"4c45768.dab7688","name":"/playqueue/:playerID/playlist/:playlistID","info":"","x":250,"y":2408.7500352859497,"wires":[]},{"id":"efe2a10a.21d35","type":"comment","z":"4c45768.dab7688","name":"Add playlist to PlayQueue","info":"","x":790,"y":2460,"wires":[]},{"id":"e9e2c646.8cdec8","type":"comment","z":"6d759f5a.8c726","name":"/album/:albumID","info":"","x":220,"y":420,"wires":[]},{"id":"85e01b08.3b1ec8","type":"http in","z":"6d759f5a.8c726","name":"Get Album","url":"/album/:albumID","method":"get","upload":false,"swaggerDoc":"","x":260,"y":580,"wires":[["3100e0c0.5a82e"]]},{"id":"8653efd5.1bb57","type":"http response","z":"6d759f5a.8c726","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1460,"y":620,"wires":[]},{"id":"e896f9d6.6182f8","type":"function","z":"6d759f5a.8c726","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":620,"wires":[["8653efd5.1bb57"]]},{"id":"3100e0c0.5a82e","type":"function","z":"6d759f5a.8c726","name":"Check if Album exists","func":"isExisted = 1;\nmsg.payload = isExisted;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":580,"wires":[["5e15cf0f.a95f7"]]},{"id":"5e15cf0f.a95f7","type":"switch","z":"6d759f5a.8c726","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":580,"wires":[["6438fdb1.481a44"],["9c2740a7.b2ab1"]]},{"id":"9ba091e9.cf72f","type":"function","z":"6d759f5a.8c726","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":540,"wires":[["27ce1bc5.ce8194"]]},{"id":"27ce1bc5.ce8194","type":"http response","z":"6d759f5a.8c726","name":"","statusCode":"404","headers":{},"x":1460,"y":540,"wires":[]},{"id":"6438fdb1.481a44","type":"function","z":"6d759f5a.8c726","name":"Album not found","func":"message = \"Album doesn't exist.\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":540,"wires":[["9ba091e9.cf72f"]]},{"id":"abb8b3d0.f12fd","type":"comment","z":"6d759f5a.8c726","name":"Check if Album is existed","info":"notExisted = 1 if album isn't existed\nisExisted = 0 if Album is existed\n","x":570,"y":540,"wires":[]},{"id":"9c2740a7.b2ab1","type":"function","z":"6d759f5a.8c726","name":"Return play queue","func":"album = {\n  \"albumID\": msg.req.params.albumID,\n  \"title\": \"Cleopatra\",\n  \"artist\": \"The Lumineers\",\n  \"coverURI\": \"https://en.wikipedia.org/wiki/Cleopatra_(album)#/media/File:Cleopatra_album_cover.jpg\",\n  \"songs\": [\n    {\n      \"title\": \"Come together\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"coverURI\": \"string\",\n      \"duration\": 259,\n      \"songID\": 123456789,\n      \"songURI\": \"string\"\n    }\n  ]\n}\n\n\nmsg.payload=album;\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":620,"wires":[["e896f9d6.6182f8"]]},{"id":"221fba2b.de85a6","type":"comment","z":"6d759f5a.8c726","name":"Get Album","info":"","x":760,"y":480,"wires":[]},{"id":"f7a4f63.765ba08","type":"http request","z":"6d759f5a.8c726","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/album/10","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":720,"wires":[["1543ac71.375b64"]]},{"id":"1543ac71.375b64","type":"debug","z":"6d759f5a.8c726","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":720,"wires":[]},{"id":"c22fc2d.2a0144","type":"inject","z":"6d759f5a.8c726","name":"Get Album","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":720,"wires":[["f7a4f63.765ba08"]]},{"id":"801d6533.785648","type":"http in","z":"6d759f5a.8c726","name":"Delete Album","url":"/album/:albumID","method":"delete","upload":false,"swaggerDoc":"","x":150,"y":1000,"wires":[["89b9edf1.26f53"]]},{"id":"966e9035.0c2f9","type":"http response","z":"6d759f5a.8c726","name":"","statusCode":"200","headers":{},"x":1400,"y":1020,"wires":[]},{"id":"3bbe5c5c.5f8624","type":"function","z":"6d759f5a.8c726","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1020,"wires":[["966e9035.0c2f9"]]},{"id":"b5d51e30.55345","type":"function","z":"6d759f5a.8c726","name":"Return msg","func":"deleted=\"The album was deleted.\";\nmsg.payload=deleted;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1020,"wires":[["3bbe5c5c.5f8624"]]},{"id":"c4349c94.faff2","type":"comment","z":"6d759f5a.8c726","name":"Delete Album","info":"","x":770,"y":900,"wires":[]},{"id":"89b9edf1.26f53","type":"function","z":"6d759f5a.8c726","name":"ExtractURLParams","func":"msg.payload = msg.req.params;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1000,"wires":[["be307b3e.9b0388"]]},{"id":"72a1847e.e7066c","type":"http request","z":"6d759f5a.8c726","name":"","method":"DELETE","ret":"txt","paytoqs":true,"url":"http://127.0.0.1:1880/album/10","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":1080,"wires":[["4f176768.cfcf78"]]},{"id":"4f176768.cfcf78","type":"debug","z":"6d759f5a.8c726","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":1080,"wires":[]},{"id":"3fa4c604.e4d2ea","type":"inject","z":"6d759f5a.8c726","name":"Delete album","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":1080,"wires":[["72a1847e.e7066c"]]},{"id":"985f07d2.40dec8","type":"switch","z":"6d759f5a.8c726","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":1000,"wires":[["49119940.e29148"],["b5d51e30.55345"]]},{"id":"8109544e.648328","type":"function","z":"6d759f5a.8c726","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":960,"wires":[["680d68e3.4e6278"]]},{"id":"680d68e3.4e6278","type":"http response","z":"6d759f5a.8c726","name":"","statusCode":"404","headers":{},"x":1400,"y":960,"wires":[]},{"id":"49119940.e29148","type":"function","z":"6d759f5a.8c726","name":"Album not found","func":"message = \"You cannot delete a non existed Album.\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":960,"wires":[["8109544e.648328"]]},{"id":"be307b3e.9b0388","type":"function","z":"6d759f5a.8c726","name":"Check if Album exists","func":"isExisted = 1;\nmsg.payload = isExisted;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1000,"wires":[["985f07d2.40dec8"]]},{"id":"39c7ad9e.92a102","type":"http in","z":"a0ff3992.fc8b98","name":"Post Playlist","url":"/playlist","method":"post","upload":false,"swaggerDoc":"","x":230,"y":240,"wires":[["d08fcd97.52003"]]},{"id":"1ef8db32.ffa3e5","type":"comment","z":"a0ff3992.fc8b98","name":"/playlist","info":"","x":90,"y":100,"wires":[]},{"id":"e85dc99e.dcfb88","type":"http request","z":"a0ff3992.fc8b98","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/playlist","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":380,"wires":[["64ea4325.396b7c"]]},{"id":"64ea4325.396b7c","type":"debug","z":"a0ff3992.fc8b98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1000,"y":380,"wires":[]},{"id":"f6bf7cf4.1aa09","type":"comment","z":"a0ff3992.fc8b98","name":"Create a Playlist","info":"","x":840,"y":120,"wires":[]},{"id":"bb90f253.cf783","type":"inject","z":"a0ff3992.fc8b98","name":"Post Playlist","topic":"","payload":"{\"title\":\"A playlist that wants to be adored\",\"description\":\"Sometimes I fantasise when the streets are cold and lonely\",\"songs\":[{\"title\":\"Come together\",\"artist\":\"The Beatles\",\"album\":\"Abbey Road\",\"coverURI\":\"https://mob/media/File:AbbeyRoad_song_cover.jpg\",\"duration\":259,\"songID\":123456789,\"songURI\":\"https://mob.music/123456789\"}],\"isPublic\":true,\"coverURI\":\"https://upload.wikimedia.org/wikipedia/en/thumb/d/d5/Iwannabeadored.jpg/220px-Iwannabeadored.jpg\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":380,"wires":[["e85dc99e.dcfb88"]]},{"id":"fe4a4566.cd90a8","type":"http response","z":"a0ff3992.fc8b98","name":"","statusCode":"201","headers":{"content-type":"application/json"},"x":1320,"y":280,"wires":[]},{"id":"e554cd41.375c7","type":"function","z":"a0ff3992.fc8b98","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 201;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":280,"wires":[["fe4a4566.cd90a8"]]},{"id":"d08fcd97.52003","type":"function","z":"a0ff3992.fc8b98","name":"Check if Playlist info is valid","func":"if (msg.payload.title.length == 0 || msg.payload.description.length == 0)\n    msg.isValid = '0';\nelse\n    msg.isValid = '1';\nreturn msg;\n    ","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["4948f0f9.de8cf"]]},{"id":"4948f0f9.de8cf","type":"switch","z":"a0ff3992.fc8b98","name":"","property":"isValid","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":240,"wires":[["b0a6260e.820348"],["a73fe3ae.c69b6"]]},{"id":"dc7eaa8b.973778","type":"function","z":"a0ff3992.fc8b98","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 400;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":200,"wires":[["6bc183fe.8364bc"]]},{"id":"6bc183fe.8364bc","type":"http response","z":"a0ff3992.fc8b98","name":"","statusCode":"400","headers":{},"x":1320,"y":200,"wires":[]},{"id":"b0a6260e.820348","type":"function","z":"a0ff3992.fc8b98","name":"Invalid","func":"msg.payload = \"The title or description of the playlist should not be empty\";\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":200,"wires":[["dc7eaa8b.973778"]]},{"id":"c0af1037.d101a","type":"comment","z":"a0ff3992.fc8b98","name":"Check if the playlist info provided is valid","info":"The title and description shouldn't be empty.","x":540,"y":200,"wires":[]},{"id":"a73fe3ae.c69b6","type":"function","z":"a0ff3992.fc8b98","name":"Successful ","func":"playlist = {\n  \"playlistID\": 123456,\n  \"title\": msg.payload.title,\n  \"userID\": 123,\n  \"coverURI\": msg.payload.coverURI,\n  \"description\": msg.payload.description,\n  \"songs\": msg.payload.songs,\n  \"isPublic\": msg.payload.isPublic,\n  \"isEmpty\": false\n}\nmsg.payload = playlist;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":280,"wires":[["e554cd41.375c7"]]},{"id":"975bd7e1.fed358","type":"http in","z":"a0ff3992.fc8b98","name":"Get Playlist","url":"/playlist/:playlistID","method":"get","upload":false,"swaggerDoc":"","x":250,"y":740,"wires":[["62bab75c.657f38"]]},{"id":"7856ba90.ecd6d4","type":"http response","z":"a0ff3992.fc8b98","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1540,"y":780,"wires":[]},{"id":"b70876b0.53d038","type":"function","z":"a0ff3992.fc8b98","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":780,"wires":[["7856ba90.ecd6d4"]]},{"id":"62bab75c.657f38","type":"function","z":"a0ff3992.fc8b98","name":"ExtractURLParams","func":"msg.payload = msg.req.params;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":740,"wires":[["db231c99.0f918"]]},{"id":"220147f0.45d838","type":"function","z":"a0ff3992.fc8b98","name":"Playlist return","func":"playlist = {\n  \"playlistID\": 123456,\n  \"title\": \"A playlist that wants to be adored\",\n  \"userID\": 123,\n  \"coverURI\": \"string\",\n  \"description\": \"Sometimes I fantasise when the streets are cold and lonely\",\n  \"songs\": [\n    {\n      \"title\": \"Come together\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"coverURI\": \"https://mob/media/File:AbbeyRoad_song_cover.jpg\",\n      \"duration\": 259,\n      \"songID\": 123456789,\n      \"songURI\": \"string\"\n    }\n  ],\n  \"isPublic\": true,\n  \"isEmpty\": false\n}\n\nmsg.payload = playlist;\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":780,"wires":[["b70876b0.53d038"]]},{"id":"68617052.4cdff","type":"comment","z":"a0ff3992.fc8b98","name":"/playlist/:playlistID","info":"","x":150,"y":500,"wires":[]},{"id":"a7fd15db.921178","type":"http request","z":"a0ff3992.fc8b98","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/playlist/123456","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":880,"wires":[["f5751c75.dcc71"]]},{"id":"f5751c75.dcc71","type":"debug","z":"a0ff3992.fc8b98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1040,"y":880,"wires":[]},{"id":"a1092fe7.61153","type":"comment","z":"a0ff3992.fc8b98","name":"Get a playlist by its ID","info":"","x":840,"y":600,"wires":[]},{"id":"6f940c78.6097d4","type":"inject","z":"a0ff3992.fc8b98","name":"Get Playlist","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":880,"wires":[["a7fd15db.921178"]]},{"id":"db231c99.0f918","type":"function","z":"a0ff3992.fc8b98","name":"Search for Playlist in the DB","func":"msg.playlistExists = 1;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":740,"wires":[["709e7133.d3581"]]},{"id":"709e7133.d3581","type":"switch","z":"a0ff3992.fc8b98","name":"","property":"playlistExists","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":740,"wires":[["80f62683.75a1d8"],["220147f0.45d838"]]},{"id":"27614d1a.918992","type":"function","z":"a0ff3992.fc8b98","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":700,"wires":[["e6ec4762.3fb528"]]},{"id":"e6ec4762.3fb528","type":"http response","z":"a0ff3992.fc8b98","name":"","statusCode":"404","headers":{},"x":1540,"y":700,"wires":[]},{"id":"80f62683.75a1d8","type":"function","z":"a0ff3992.fc8b98","name":"Not Found","func":"msg.payload = \"The playlist with the requested playlistID doesn't exist\";\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":700,"wires":[["27614d1a.918992"]]},{"id":"8c39f9d4.bb1c38","type":"comment","z":"a0ff3992.fc8b98","name":"Check if the playlist exists in the Database","info":"If the song exists in our database, return 1, if not, return 0.","x":760,"y":700,"wires":[]},{"id":"dd3785a4.1381d8","type":"http in","z":"a0ff3992.fc8b98","name":"Delete Playlist","url":"/playlist/:playlistID","method":"delete","upload":false,"swaggerDoc":"","x":270,"y":1140,"wires":[["c6ef3d5f.ccedc"]]},{"id":"46c4e230.4ea8ec","type":"http response","z":"a0ff3992.fc8b98","name":"","statusCode":"200","headers":{},"x":1540,"y":1180,"wires":[]},{"id":"2fe20568.f27c0a","type":"function","z":"a0ff3992.fc8b98","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 202;\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":1180,"wires":[["46c4e230.4ea8ec"]]},{"id":"c6ef3d5f.ccedc","type":"function","z":"a0ff3992.fc8b98","name":"ExtractURLParams","func":"msg.payload = msg.req.params;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1140,"wires":[["fa416c37.f4ec2"]]},{"id":"af48ca8c.dbc348","type":"function","z":"a0ff3992.fc8b98","name":"Successful","func":"msg.payload = \"The playlist with playlistID = \" + msg.payload.playlistID +  \" was successfully deleted\";\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1180,"wires":[["2fe20568.f27c0a"]]},{"id":"77dd783d.7d98a8","type":"http request","z":"a0ff3992.fc8b98","name":"","method":"DELETE","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:1880/playlist/123456","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":1280,"wires":[["49dff523.4a778c"]]},{"id":"49dff523.4a778c","type":"debug","z":"a0ff3992.fc8b98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1040,"y":1280,"wires":[]},{"id":"a8697f2d.2f70c","type":"inject","z":"a0ff3992.fc8b98","name":"Delete Playlist","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":1280,"wires":[["77dd783d.7d98a8"]]},{"id":"fa416c37.f4ec2","type":"function","z":"a0ff3992.fc8b98","name":"Search for Playlist in the DB","func":"msg.playlistExists = 1;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1140,"wires":[["4b9b6034.1b18a"]]},{"id":"4b9b6034.1b18a","type":"switch","z":"a0ff3992.fc8b98","name":"","property":"playlistExists","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":1140,"wires":[["d7df9284.ad2e7"],["af48ca8c.dbc348"]]},{"id":"c2e54ae6.bb56e8","type":"function","z":"a0ff3992.fc8b98","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":1100,"wires":[["577815bc.b57fac"]]},{"id":"577815bc.b57fac","type":"http response","z":"a0ff3992.fc8b98","name":"","statusCode":"404","headers":{},"x":1540,"y":1100,"wires":[]},{"id":"d7df9284.ad2e7","type":"function","z":"a0ff3992.fc8b98","name":"Not Found","func":"msg.payload = \"The playlist with playlistID = \" + msg.req.params.playlistID+ \" doesn't exist\";\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1100,"wires":[["c2e54ae6.bb56e8"]]},{"id":"a58b9e4a.b3268","type":"comment","z":"a0ff3992.fc8b98","name":"Check if the playlist exists in the Database","info":"If the song exists in our database, return 1, if not, return 0.","x":760,"y":1100,"wires":[]},{"id":"cc27eb7d.1b9578","type":"comment","z":"a0ff3992.fc8b98","name":"Delete a playlist","info":"","x":840,"y":1020,"wires":[]},{"id":"97a90ffc.72f34","type":"http in","z":"a0ff3992.fc8b98","name":"Update Playlist Info","url":"/playlist/:playlistID","method":"put","upload":false,"swaggerDoc":"","x":350,"y":1540,"wires":[["977a1c2c.d5dac"]]},{"id":"166aa09c.b2694f","type":"http response","z":"a0ff3992.fc8b98","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1500,"y":1580,"wires":[]},{"id":"d757fcad.50ce5","type":"function","z":"a0ff3992.fc8b98","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":1580,"wires":[["166aa09c.b2694f"]]},{"id":"9bc49eb6.577fb","type":"function","z":"a0ff3992.fc8b98","name":"Return Updated Playlist","func":"msg.payload = {\n  \"playlistID\": msg.req.params.playlistID,\n  \"title\": msg.payload.title,\n  \"userID\": 123,\n  \"coverURI\": msg.payload.coverURI,\n  \"description\": msg.payload.description,\n  \"songs\": [\n    {\n      \"title\": \"Come together\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"coverURI\": \"https://mob/media/File:AbbeyRoad_song_cover.jpg\",\n      \"duration\": 259,\n      \"songID\": 123456789,\n      \"songURI\": \"string\"\n    }\n  ],\n  \"isPublic\": msg.payload.isPublic,\n  \"isEmpty\": false\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1580,"wires":[["d757fcad.50ce5"]]},{"id":"ee683b46.089628","type":"http request","z":"a0ff3992.fc8b98","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/playlist/123456","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":1680,"wires":[["780fc21b.ceaa3c"]]},{"id":"780fc21b.ceaa3c","type":"debug","z":"a0ff3992.fc8b98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1040,"y":1680,"wires":[]},{"id":"f94334de.4fca18","type":"inject","z":"a0ff3992.fc8b98","name":"Update Playlist Info","topic":"","payload":"{\"title\":\"A playlist that needs to be adored\",\"description\":\"Sometimes I fantasise when the streets are cold and lonely\",\"isPublic\":true,\"coverURI\":\"https://assets.bigcartel.com/product_images/240319109/stone-roses-poster-i-wanna-be-adored-ian-brown.jpg?auto=format&fit=max&h=1000&w=1000\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":1680,"wires":[["ee683b46.089628"]]},{"id":"977a1c2c.d5dac","type":"function","z":"a0ff3992.fc8b98","name":"Search for Playlist in the DB","func":"msg.playlistExists = 1;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1540,"wires":[["49c74250.b2f3bc"]]},{"id":"49c74250.b2f3bc","type":"switch","z":"a0ff3992.fc8b98","name":"","property":"playlistExists","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":1540,"wires":[["b0c4b3f6.4d46a"],["9bc49eb6.577fb"]]},{"id":"781be54d.d58cdc","type":"function","z":"a0ff3992.fc8b98","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":1500,"wires":[["32207608.c7736a"]]},{"id":"32207608.c7736a","type":"http response","z":"a0ff3992.fc8b98","name":"","statusCode":"404","headers":{},"x":1500,"y":1500,"wires":[]},{"id":"b0c4b3f6.4d46a","type":"function","z":"a0ff3992.fc8b98","name":"Not Found","func":"msg.payload = \"The playlist with playlistID = \" + msg.req.params.playlistID+ \" doesn't exist\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1500,"wires":[["781be54d.d58cdc"]]},{"id":"48993595.b2c93c","type":"comment","z":"a0ff3992.fc8b98","name":"Check if the playlist exists in the Database","info":"If the song exists in our database, return 1, if not, return 0.","x":720,"y":1500,"wires":[]},{"id":"7f777f0e.d5932","type":"comment","z":"a0ff3992.fc8b98","name":"Update a playlist's info","info":"","x":840,"y":1420,"wires":[]},{"id":"c5166f.55c9199","type":"http in","z":"a0ff3992.fc8b98","name":"Delete song from playlist","url":"/playlist/:playlistID/song/:songID","method":"delete","upload":false,"swaggerDoc":"","x":150,"y":2160,"wires":[["60d398c6.296d08"]]},{"id":"412b187d.f17268","type":"http request","z":"a0ff3992.fc8b98","name":"","method":"DELETE","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/playlist/123456/song/123456789","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":2340,"wires":[["d707792d.fba838"]]},{"id":"d707792d.fba838","type":"debug","z":"a0ff3992.fc8b98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1080,"y":2340,"wires":[]},{"id":"d511c086.a6c42","type":"inject","z":"a0ff3992.fc8b98","name":"Delete song from Playlist","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":2340,"wires":[["412b187d.f17268"]]},{"id":"60d398c6.296d08","type":"function","z":"a0ff3992.fc8b98","name":"Search for Playlist in the DB","func":"msg.playlistExists = 1;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2160,"wires":[["6ec755b6.9be6bc"]]},{"id":"6ec755b6.9be6bc","type":"switch","z":"a0ff3992.fc8b98","name":"","property":"playlistExists","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":2160,"wires":[["c766b3f5.1aaf2"],["cb4c0be7.4c0e68"]]},{"id":"80a5cf1d.e1652","type":"function","z":"a0ff3992.fc8b98","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":2100,"wires":[["bdb268a7.e357c8"]]},{"id":"bdb268a7.e357c8","type":"http response","z":"a0ff3992.fc8b98","name":"","statusCode":"404","headers":{},"x":1240,"y":2100,"wires":[]},{"id":"c766b3f5.1aaf2","type":"function","z":"a0ff3992.fc8b98","name":"Playlist Not Found","func":"msg.payload = \"The playlist with the requested playlistID doesn't exist\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2100,"wires":[["80a5cf1d.e1652"]]},{"id":"a75b7dbb.77dbe","type":"comment","z":"a0ff3992.fc8b98","name":"Check if the playlist exists in the Database","info":"If the song exists in our database, return 1, if not, return 0.","x":400,"y":2100,"wires":[]},{"id":"31cd9ea4.aef412","type":"comment","z":"a0ff3992.fc8b98","name":"Delete a playlist's song","info":"","x":820,"y":2000,"wires":[]},{"id":"1c327716.2d8c19","type":"comment","z":"a0ff3992.fc8b98","name":"/playlist/:playlistID/song/:songID","info":"","x":150,"y":1960,"wires":[]},{"id":"f81c5dab.cf296","type":"switch","z":"a0ff3992.fc8b98","name":"","property":"songInPlaylist","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":2220,"wires":[["56720b65.6235d4"],["ed3fb542.01d6f8"]]},{"id":"56720b65.6235d4","type":"function","z":"a0ff3992.fc8b98","name":"Song Not Found","func":"msg.payload = \"The song with the songID = \" + msg.req.params.songID + \" doesn't exist in the playlist with playlistID = \" + msg.req.params.playlistID;\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":2180,"wires":[["d9e68aef.372f78"]]},{"id":"d9e68aef.372f78","type":"function","z":"a0ff3992.fc8b98","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":2180,"wires":[["942e9237.e079f"]]},{"id":"942e9237.e079f","type":"http response","z":"a0ff3992.fc8b98","name":"","statusCode":"404","headers":{},"x":1680,"y":2180,"wires":[]},{"id":"ed3fb542.01d6f8","type":"function","z":"a0ff3992.fc8b98","name":"Delete song from Playlist","func":"newPlaylist = {\n  \"playlistID\": 123456,\n  \"title\": \"A playlist that wants to be adored\",\n  \"userID\": 123,\n  \"coverURI\": \"string\",\n  \"description\": \"Sometimes I fantasise when the streets are cold and lonely\",\n  \"songs\": [],\n  \"isPublic\": true,\n  \"isEmpty\": true\n}\nmsg.payload = newPlaylist;\nreturn msg","outputs":1,"noerr":0,"x":1290,"y":2260,"wires":[["e8b9c323.68f8"]]},{"id":"e8b9c323.68f8","type":"function","z":"a0ff3992.fc8b98","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 202;\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":2260,"wires":[["d07e79ac.1f9be8"]]},{"id":"d07e79ac.1f9be8","type":"http response","z":"a0ff3992.fc8b98","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1720,"y":2260,"wires":[]},{"id":"cb4c0be7.4c0e68","type":"function","z":"a0ff3992.fc8b98","name":"Search for Song in Playlist","func":"msg.songInPlaylist = 1;\nreturn msg","outputs":1,"noerr":0,"x":860,"y":2220,"wires":[["f81c5dab.cf296"]]},{"id":"b3a0a751.7210b8","type":"http in","z":"a0ff3992.fc8b98","name":"Add song to playlist","url":"/playlist/:playlistID/song","method":"post","upload":false,"swaggerDoc":"","x":129,"y":2680,"wires":[["77ab52f.b8d62ac"]]},{"id":"2ecb0aad.206976","type":"http request","z":"a0ff3992.fc8b98","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/playlist/123456/song","tls":"","persist":false,"proxy":"","authType":"","x":889,"y":2900,"wires":[["887ed02a.a1e8"]]},{"id":"887ed02a.a1e8","type":"debug","z":"a0ff3992.fc8b98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1079,"y":2900,"wires":[]},{"id":"1864057e.8ab4fb","type":"inject","z":"a0ff3992.fc8b98","name":"Add a song to a Playlist","topic":"","payload":"{\"title\":\"Come together\",\"artist\":\"The Beatles\",\"album\":\"Abbey Road\",\"coverURI\":\"https://mob/media/File:AbbeyRoad_song_cover.jpg\",\"duration\":259,\"songID\":123456789,\"songURI\":\"string\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":659,"y":2900,"wires":[["2ecb0aad.206976"]]},{"id":"77ab52f.b8d62ac","type":"function","z":"a0ff3992.fc8b98","name":"Search for Playlist in the DB","func":"msg.playlistExists = 1;\nreturn msg;","outputs":1,"noerr":0,"x":399,"y":2680,"wires":[["67c33af2.534714"]]},{"id":"67c33af2.534714","type":"switch","z":"a0ff3992.fc8b98","name":"","property":"playlistExists","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":629,"y":2680,"wires":[["f7e7a6eb.529e78"],["de20347b.397f58"]]},{"id":"e720d30f.4bb85","type":"function","z":"a0ff3992.fc8b98","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1029,"y":2620,"wires":[["656277cb.9e5a78"]]},{"id":"656277cb.9e5a78","type":"http response","z":"a0ff3992.fc8b98","name":"","statusCode":"404","headers":{},"x":1219,"y":2620,"wires":[]},{"id":"f7e7a6eb.529e78","type":"function","z":"a0ff3992.fc8b98","name":"Playlist Not Found","func":"msg.payload = \"The playlist with playlistID = \" + msg.req.params.playlistID+ \" doesn't exist\";\nreturn msg;","outputs":1,"noerr":0,"x":829,"y":2620,"wires":[["e720d30f.4bb85"]]},{"id":"7bb299f6.82d6e8","type":"comment","z":"a0ff3992.fc8b98","name":"Check if the playlist exists in the Database","info":"If the song exists in our database, return 1, if not, return 0.","x":399,"y":2620,"wires":[]},{"id":"83378a77.17c5c8","type":"comment","z":"a0ff3992.fc8b98","name":"Add a song to a playlist","info":"","x":820,"y":2520,"wires":[]},{"id":"bb251c87.85c1a","type":"switch","z":"a0ff3992.fc8b98","name":"","property":"songExists","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1069,"y":2740,"wires":[["b7e61120.31518"],["41ae6f65.742e2"]]},{"id":"b7e61120.31518","type":"function","z":"a0ff3992.fc8b98","name":"Song Not Found","func":"msg.payload = \"The song with the songID = \" + msg.req.params.songID + \" doesn't exist in the database\"\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":2700,"wires":[["3a10546e.6caf1c"]]},{"id":"3a10546e.6caf1c","type":"function","z":"a0ff3992.fc8b98","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":2700,"wires":[["c9e4ac88.5b796"]]},{"id":"c9e4ac88.5b796","type":"http response","z":"a0ff3992.fc8b98","name":"","statusCode":"404","headers":{},"x":1641,"y":2700,"wires":[]},{"id":"41ae6f65.742e2","type":"function","z":"a0ff3992.fc8b98","name":"Add song to Playlist","func":"newPlaylist = {\n  \"playlistID\": 123456,\n  \"title\": \"A playlist that wants to be adored\",\n  \"userID\": 123,\n  \"coverURI\": \"string\",\n  \"description\": \"Sometimes I fantasise when the streets are cold and lonely\",\n  \"songs\": [\n    {\n      \"title\": \"Come together\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"coverURI\": \"https://mob/media/File:AbbeyRoad_song_cover.jpg\",\n      \"duration\": 259,\n      \"songID\": 123456789,\n      \"songURI\": \"string\"\n    },\n    {\n    \"title\": \"Megalomania\",\n    \"artist\": \"Muse\",\n    \"album\": \"Origin of Symmetry\",\n    \"coverURI\": \"https://mob/media/File:OriginOfSymmetry_song_cover.jpg\",\n    \"duration\": 259,\n    \"songID\": msg.payload.songID,\n    \"songURI\": \"string\"\n    }\n  ],\n  \"isPublic\": true,\n  \"isEmpty\": false\n}\nmsg.payload = newPlaylist;\nreturn msg","outputs":1,"noerr":0,"x":1270,"y":2780,"wires":[["6b37d1e.ed4203"]]},{"id":"6b37d1e.ed4203","type":"function","z":"a0ff3992.fc8b98","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":2780,"wires":[["e518f744.267468"]]},{"id":"e518f744.267468","type":"http response","z":"a0ff3992.fc8b98","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1640,"y":2780,"wires":[]},{"id":"de20347b.397f58","type":"function","z":"a0ff3992.fc8b98","name":"Search for Song in Database","func":"msg.songExists = 1;\nreturn msg;","outputs":1,"noerr":0,"x":859,"y":2740,"wires":[["bb251c87.85c1a"]]},{"id":"1788745a.49cd1c","type":"http in","z":"35049ff1.e7bb","name":"Post Newsfeed","url":"/newsfeed","method":"post","upload":false,"swaggerDoc":"","x":480,"y":300,"wires":[["579f9c01.b48764"]]},{"id":"4cfb39b.ca5f1c8","type":"http response","z":"35049ff1.e7bb","name":"","statusCode":"201","headers":{"content-type":"application/json"},"x":1620,"y":260,"wires":[]},{"id":"e76b5de8.71bbb","type":"function","z":"35049ff1.e7bb","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 201;\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":260,"wires":[["4cfb39b.ca5f1c8"]]},{"id":"a1f7d685.049a58","type":"function","z":"35049ff1.e7bb","name":"Create and Return Newsfeed","func":"newsfeed = {\n  \"userID\": 55,\n  \"date\": \"2020-04-12T23:20:50.52Z\",\n  \"followingActivities\": [\n    {\n      \"userID\": msg.payload.followingID[0],\n      \"activityID\": 5555,\n      \"typeOfActivity\": \"uploaded an album\",\n      \"date\": \"2020-04-12T23:20:50.52Z\"\n    }, \n    {\n      \"userID\": msg.payload.followingID[1],\n      \"activityID\": 6666,\n      \"typeOfActivity\": \"created a playlist\",\n      \"date\": \"2020-04-12T23:20:50.52Z\"\n    }\n  ]\n}\nmsg.payload = newsfeed;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":260,"wires":[["e76b5de8.71bbb"]]},{"id":"3b364afc.1a8f96","type":"comment","z":"35049ff1.e7bb","name":"/newsfeed","info":"","x":270,"y":120,"wires":[]},{"id":"714537d7.988848","type":"http request","z":"35049ff1.e7bb","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/newsfeed","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":500,"wires":[["1c5578ad.2febc7"]]},{"id":"1c5578ad.2febc7","type":"debug","z":"35049ff1.e7bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1100,"y":500,"wires":[]},{"id":"a1feed9a.3b29e","type":"comment","z":"35049ff1.e7bb","name":"Create a Newsfeed","info":"","x":850,"y":160,"wires":[]},{"id":"e57b50b1.bbbba","type":"inject","z":"35049ff1.e7bb","name":"Create Newsfeed","topic":"","payload":"{\"followingID\":[23,69]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":500,"wires":[["714537d7.988848"]]},{"id":"11c8eeab.891b01","type":"http in","z":"35049ff1.e7bb","name":"Get Newsfeed","url":"/newsfeed","method":"get","upload":false,"swaggerDoc":"","x":470,"y":680,"wires":[["2a21de8f.e9d9a2"]]},{"id":"a858e2ba.2df51","type":"http request","z":"35049ff1.e7bb","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/newsfeed","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":780,"wires":[["47eca7fd.b20168"]]},{"id":"47eca7fd.b20168","type":"debug","z":"35049ff1.e7bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":780,"wires":[]},{"id":"f7df9430.df6dd8","type":"comment","z":"35049ff1.e7bb","name":"Get Newsfeed","info":"","x":850,"y":620,"wires":[]},{"id":"d356f2c6.f7db6","type":"inject","z":"35049ff1.e7bb","name":"Get Newsfeed","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":780,"wires":[["a858e2ba.2df51"]]},{"id":"4df2b4d3.a98dec","type":"http in","z":"19a5c119.a2b54f","name":"Post Activity","url":"/activity","method":"post","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["557031c7.e30cf"]]},{"id":"6cae53e4.a8070c","type":"http response","z":"19a5c119.a2b54f","name":"","statusCode":"201","headers":{"content-type":"application/json"},"x":780,"y":120,"wires":[]},{"id":"da4207f6.639ed8","type":"function","z":"19a5c119.a2b54f","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 201;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["6cae53e4.a8070c"]]},{"id":"557031c7.e30cf","type":"function","z":"19a5c119.a2b54f","name":"Return new activity","func":"activity = {\n  \"userID\": msg.payload.userID,\n  \"activityID\": 5555,\n  \"typeOfActivity\": msg.payload.typeOfActivity,\n  \"date\": msg.payload.date\n}\nmsg.payload=activity;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["da4207f6.639ed8"]]},{"id":"91dcd63e.4b7228","type":"http request","z":"19a5c119.a2b54f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/activity","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":200,"wires":[["f39c646e.6e2758"]]},{"id":"f39c646e.6e2758","type":"debug","z":"19a5c119.a2b54f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":200,"wires":[]},{"id":"536b5a63.0446f4","type":"inject","z":"19a5c119.a2b54f","name":"Post Activity","topic":"","payload":"{\"userID\":6666,\"typeOfActivity\":\"uploaded an album\",\"date\":\"2020-04-12T23:20:50.52Z\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":200,"wires":[["91dcd63e.4b7228"]]},{"id":"39f36532.ce233a","type":"comment","z":"19a5c119.a2b54f","name":"/activity","info":"","x":70,"y":40,"wires":[]},{"id":"4a6a3042.9a0a7","type":"comment","z":"19a5c119.a2b54f","name":"Create an activity","info":"","x":460,"y":60,"wires":[]},{"id":"1838b0d8.2b803f","type":"http in","z":"19a5c119.a2b54f","name":"Get Activities of a user","url":"/activity","method":"get","upload":false,"swaggerDoc":"","x":120,"y":540,"wires":[["195a2554.629a2b"]]},{"id":"a8df37f5.725d58","type":"function","z":"19a5c119.a2b54f","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":500,"wires":[["a1305eca.07f8a"]]},{"id":"195a2554.629a2b","type":"function","z":"19a5c119.a2b54f","name":"ExtractQueryParams","func":"msg.payload = msg.req.query;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":540,"wires":[["db4d056c.c8ab48"]]},{"id":"b59bf208.87d4e","type":"function","z":"19a5c119.a2b54f","name":"Return Activities ","func":"activity = {\n  \"userID\": msg.req.query.userID,\n  \"activityID\": 5555,\n  \"typeOfActivity\": \"uploaded an album\",\n  \"date\": msg.req.query.date\n}\nmsg.payload=activity;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":500,"wires":[["a8df37f5.725d58"]]},{"id":"fa06f8ad.94ec78","type":"http request","z":"19a5c119.a2b54f","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"http://127.0.0.1:1880/activity","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":640,"wires":[["33e566f9.bcb1ea"]]},{"id":"33e566f9.bcb1ea","type":"debug","z":"19a5c119.a2b54f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":640,"wires":[]},{"id":"f601ce7f.ce67d","type":"inject","z":"19a5c119.a2b54f","name":"Get Activities of a user","topic":"","payload":"{\"userID\":666,\"date\":\"2020-04-12T23:20:50.52Z\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":640,"wires":[["fa06f8ad.94ec78"]]},{"id":"a1305eca.07f8a","type":"http response","z":"19a5c119.a2b54f","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1300,"y":500,"wires":[]},{"id":"cc2c9136.6e27d","type":"switch","z":"19a5c119.a2b54f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":540,"wires":[["b59bf208.87d4e"],["30099e4f.9ff982"]]},{"id":"db4d056c.c8ab48","type":"function","z":"19a5c119.a2b54f","name":"Check if activity exists","func":"foundActivities = 1;\nmsg.payload = foundActivities;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":540,"wires":[["cc2c9136.6e27d"]]},{"id":"30099e4f.9ff982","type":"function","z":"19a5c119.a2b54f","name":"Activities Not Found","func":"message = \"Activities Not Found\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":580,"wires":[["1778c3f9.60e21c"]]},{"id":"1778c3f9.60e21c","type":"function","z":"19a5c119.a2b54f","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":580,"wires":[["14263867.9ac698"]]},{"id":"14263867.9ac698","type":"http response","z":"19a5c119.a2b54f","name":"","statusCode":"404","headers":{},"x":1300,"y":580,"wires":[]},{"id":"87a1eb0a.768088","type":"http in","z":"19a5c119.a2b54f","name":"Get Activity Info","url":"/activity/:activityID","method":"get","upload":false,"swaggerDoc":"","x":180,"y":980,"wires":[["9bc90f35.13ad7"]]},{"id":"630d23e1.b265ac","type":"http response","z":"19a5c119.a2b54f","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1300,"y":940,"wires":[]},{"id":"6fb05f16.ca1b","type":"function","z":"19a5c119.a2b54f","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":940,"wires":[["630d23e1.b265ac"]]},{"id":"8548c114.662e8","type":"function","z":"19a5c119.a2b54f","name":"Return Activity","func":"activity={\n  \"userID\": 9999,\n  \"activityID\": msg.req.params.activityID,\n  \"typeOfActivity\": \"uploaded an album\",\n  \"date\": \"2020-04-12T23:20:50.52Z\"\n}\nmsg.payload=activity;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":940,"wires":[["6fb05f16.ca1b"]]},{"id":"41f5fb56.d82a14","type":"http request","z":"19a5c119.a2b54f","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"http://127.0.0.1:1880/activity/66","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":1100,"wires":[["c7f58e06.c9b68"]]},{"id":"c7f58e06.c9b68","type":"debug","z":"19a5c119.a2b54f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":1100,"wires":[]},{"id":"7acb59fa.1c13d8","type":"inject","z":"19a5c119.a2b54f","name":"Get Activity","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":1100,"wires":[["41f5fb56.d82a14"]]},{"id":"89594469.4640d8","type":"comment","z":"19a5c119.a2b54f","name":"Get activity info","info":"","x":640,"y":900,"wires":[]},{"id":"88c7f0f7.22612","type":"comment","z":"19a5c119.a2b54f","name":"/activity/:activityID","info":"","x":90,"y":840,"wires":[]},{"id":"9bc90f35.13ad7","type":"function","z":"19a5c119.a2b54f","name":"ExtractURLParams","func":"msg.payload = msg.req.params;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":980,"wires":[["9b4c5b0.79556a8"]]},{"id":"45bc20ae.1ff17","type":"comment","z":"19a5c119.a2b54f","name":"Get Activities given the userID and the date","info":"","x":540,"y":460,"wires":[]},{"id":"9b4c5b0.79556a8","type":"function","z":"19a5c119.a2b54f","name":"Check if activity exists","func":"foundActivities = 1;\nmsg.payload = foundActivities;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":980,"wires":[["e0704959.10a468"]]},{"id":"e0704959.10a468","type":"switch","z":"19a5c119.a2b54f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":980,"wires":[["8548c114.662e8"],["684f7503.aecadc"]]},{"id":"684f7503.aecadc","type":"function","z":"19a5c119.a2b54f","name":"Activity Not Found","func":"message = \"Activity Not Found\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1000,"wires":[["871a461e.c36238"]]},{"id":"871a461e.c36238","type":"function","z":"19a5c119.a2b54f","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1000,"wires":[["b599dab5.e3a268"]]},{"id":"b599dab5.e3a268","type":"http response","z":"19a5c119.a2b54f","name":"","statusCode":"404","headers":{},"x":1300,"y":1000,"wires":[]},{"id":"a54aef2f.ed8ae","type":"inject","z":"6d759f5a.8c726","name":"Create Album","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":320,"wires":[["d0fa5b9d.9f3f48"]]},{"id":"321ce246.6da24e","type":"function","z":"6d759f5a.8c726","name":"Format the header and payload","func":"msg.headers = {\n    \"Content-Type\": \"multipart/form-data; boundary=------------------------d74496d66958873e\"\n}\n\n\nmsg.payload = '--------------------------d74496d66958873e\\r\\n'+\n'Content-Disposition: form-data; name=\"select\"\\r\\n'+\n'\\r\\n'+\n'true\\r\\n'+\n'--------------------------d74496d66958873e\\r\\n'+\n'Content-Disposition: form-data; name=\"print\"\\r\\n'+\n'\\r\\n'+\n'true\\r\\n'+\n'--------------------------d74496d66958873e\\r\\n'+\n'Content-Disposition: form-data; name=\"file\"; filename=\"'+msg.filename+'\"\\r\\n'+\n'Content-Type: application/octet-stream\\r\\n'+\n'\\r\\n'+\nmsg.payload+'\\r\\n'+\n'--------------------------d74496d66958873e--\\r\\n';\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":320,"wires":[["186348b6.2495c7"]]},{"id":"186348b6.2495c7","type":"http request","z":"6d759f5a.8c726","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:1880/album","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":320,"wires":[["ecec8848.ff11a8"]]},{"id":"d0fa5b9d.9f3f48","type":"file in","z":"6d759f5a.8c726","name":"","filename":"\\Users\\niksaoul\\Desktop\\cleo.zip","format":"","chunk":false,"sendError":false,"x":580,"y":320,"wires":[["321ce246.6da24e"]]},{"id":"ecec8848.ff11a8","type":"debug","z":"6d759f5a.8c726","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1330,"y":320,"wires":[]},{"id":"17958657.ef01da","type":"switch","z":"c54d5cff.5bdb4","name":"","property":"userExists","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1440,"wires":[["4f76407b.477e8"],["a6c44ea.8dbfab"]]},{"id":"ce1bde6a.f73fb","type":"function","z":"c54d5cff.5bdb4","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1480,"wires":[["4f3c1b2e.1523a4"]]},{"id":"4f3c1b2e.1523a4","type":"http response","z":"c54d5cff.5bdb4","name":"","statusCode":"404","headers":{},"x":1180,"y":1480,"wires":[]},{"id":"319c7562.4644ca","type":"function","z":"c54d5cff.5bdb4","name":"Check if info valid","func":"msg.userExists = 1;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1440,"wires":[["17958657.ef01da"]]},{"id":"a6c44ea.8dbfab","type":"function","z":"c54d5cff.5bdb4","name":"Not Found","func":"message = \"Not Found.\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1480,"wires":[["ce1bde6a.f73fb"]]},{"id":"af8b1d29.46d79","type":"http response","z":"c54d5cff.5bdb4","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1200,"y":100,"wires":[]},{"id":"8b64ca5d.7c1db8","type":"function","z":"c54d5cff.5bdb4","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":100,"wires":[["af8b1d29.46d79"]]},{"id":"75fe448.58e2dbc","type":"function","z":"c54d5cff.5bdb4","name":"Return user","func":"user = {\n  \"username\": msg.payload.username,\n  \"password\": msg.payload.password,\n  \"isArtist\": msg.payload.isArtist,\n  \"userID\": 1312,\n  \"email\": msg.payload.email\n}\nmsg.payload=user;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":100,"wires":[["8b64ca5d.7c1db8"]]},{"id":"1a1a752d.281fdb","type":"switch","z":"c54d5cff.5bdb4","name":"","property":"control","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":160,"wires":[["75fe448.58e2dbc"],["812a5d4d.1a50c"],["8ed4680f.ff6288"]]},{"id":"63a25efe.6be","type":"function","z":"c54d5cff.5bdb4","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 409;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":160,"wires":[["bd764589.df2ee8"]]},{"id":"bd764589.df2ee8","type":"http response","z":"c54d5cff.5bdb4","name":"","statusCode":"409","headers":{},"x":1200,"y":160,"wires":[]},{"id":"6f696364.0ac53c","type":"function","z":"c54d5cff.5bdb4","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 400;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":220,"wires":[["2f5e99fb.544d66"]]},{"id":"2f5e99fb.544d66","type":"http response","z":"c54d5cff.5bdb4","name":"","statusCode":"400","headers":{},"x":1200,"y":220,"wires":[]},{"id":"8396a91.1526c58","type":"function","z":"c54d5cff.5bdb4","name":"Check if info valid","func":"msg.usernameOrEmailAlreadyExist = 0;\nmsg.isValid = 1;\nif(msg.usernameOrEmailAlreadyExist == 1)\n    msg.control = 1;\nif (msg.isValid === 0)\n    msg.control = 2;\nif (msg.isValid == 1 && msg.usernameOrEmailAlreadyExist === 0)\n    msg.control = 0;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["1a1a752d.281fdb"]]},{"id":"812a5d4d.1a50c","type":"function","z":"c54d5cff.5bdb4","name":"Email or Username already exist","func":"message = \"Conflict. A user with the same username or email already exists.\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":160,"wires":[["63a25efe.6be"]]},{"id":"8ed4680f.ff6288","type":"function","z":"c54d5cff.5bdb4","name":"Invalid input.","func":"message = \"Bad Request. Invalid input.\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":220,"wires":[["6f696364.0ac53c"]]},{"id":"41793e9d.cc9ec","type":"switch","z":"c54d5cff.5bdb4","name":"","property":"isValid","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":980,"wires":[["4971c7de.fe8d18"],["808f4763.10bf58"]]},{"id":"b8a1d4ee.612998","type":"function","z":"c54d5cff.5bdb4","name":"Check if info valid","func":"msg.isValid = 1;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":980,"wires":[["41793e9d.cc9ec"]]},{"id":"1d68a9ca.431646","type":"function","z":"c54d5cff.5bdb4","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 400;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1020,"wires":[["2caf5113.a04e4e"]]},{"id":"2caf5113.a04e4e","type":"http response","z":"c54d5cff.5bdb4","name":"","statusCode":"400","headers":{},"x":1280,"y":1020,"wires":[]},{"id":"808f4763.10bf58","type":"function","z":"c54d5cff.5bdb4","name":"Invalid input.","func":"message = \"Bad Request. Invalid input.\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1020,"wires":[["1d68a9ca.431646"]]},{"id":"3221613c.d0218e","type":"function","z":"c54d5cff.5bdb4","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 400;\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":560,"wires":[["91bbd446.999aa8"]]},{"id":"91bbd446.999aa8","type":"http response","z":"c54d5cff.5bdb4","name":"","statusCode":"400","headers":{},"x":1260,"y":560,"wires":[]},{"id":"d77e70e9.f1aa8","type":"function","z":"c54d5cff.5bdb4","name":"Invalid input.","func":"message = \"Bad Request. Invalid input.\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":560,"wires":[["3221613c.d0218e"]]},{"id":"371c48e4.7c81e8","type":"function","z":"4c45768.dab7688","name":"Check if PlayQueue is empty","func":"msg.isEmpty = 0;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":160,"wires":[["2d50b5de.86ccaa"]]},{"id":"16fad7ee.1a44d8","type":"comment","z":"4c45768.dab7688","name":"Check if the playlist exists in the Database","info":"If the song exists in our database, return 1, if not, return 0.","x":540,"y":1280,"wires":[]},{"id":"cc07fbdb.f6e048","type":"http in","z":"4c45768.dab7688","name":"Add song to PlayQueue","url":"/playqueue/:playerID/song/:songID","method":"put","upload":false,"swaggerDoc":"","x":280,"y":1320,"wires":[["4cb24b2d.516254"]]},{"id":"4cb24b2d.516254","type":"function","z":"4c45768.dab7688","name":"Check if song exists","func":"msg.songExists=1;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1320,"wires":[["8604e80d.dc2c78"]]},{"id":"8604e80d.dc2c78","type":"switch","z":"4c45768.dab7688","name":"","property":"songExists","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":1320,"wires":[["763adf79.a1f76"],["cf53cda5.31fe4"]]},{"id":"763adf79.a1f76","type":"function","z":"4c45768.dab7688","name":"Return PlayQueue","func":"playqueue={\n  \"isEmpty\": false,\n  \"isShuffle\": true,\n  \"isRepeat\": true,\n  \"playerID\": msg.req.params.playerID,\n  \"songs\": [\n      {\n      \"title\": \"Heroes\",\n      \"artist\": \"David Bowie\",\n      \"album\": \"Heroes\",\n      \"cover\": \"string\",\n      \"duration\": 222,\n      \"songID\": parseInt(msg.req.params.songID)\n    },\n    {\n      \"title\": \"Come together\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 259,\n      \"songID\": 123456789\n    }\n     \n  ]\n}\nmsg.payload=playqueue;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1280,"wires":[["b382e2d8.202f3"]]},{"id":"ae5188bd.313e08","type":"http response","z":"4c45768.dab7688","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1340,"y":1280,"wires":[]},{"id":"b382e2d8.202f3","type":"function","z":"4c45768.dab7688","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1280,"wires":[["ae5188bd.313e08"]]},{"id":"cf53cda5.31fe4","type":"function","z":"4c45768.dab7688","name":"Not Found","func":"message=\"Song Not Found.\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1360,"wires":[["21a0dbde.682584"]]},{"id":"3792fa.ccd00d06","type":"http response","z":"4c45768.dab7688","name":"","statusCode":"404","headers":{},"x":1340,"y":1360,"wires":[]},{"id":"21a0dbde.682584","type":"function","z":"4c45768.dab7688","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1360,"wires":[["3792fa.ccd00d06"]]},{"id":"ee049b9f.398058","type":"http request","z":"4c45768.dab7688","name":"","method":"PUT","ret":"obj","paytoqs":true,"url":"http://127.0.0.1:1880/playqueue/11/song/13","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":1440,"wires":[["61a7ff5c.a609e"]]},{"id":"61a7ff5c.a609e","type":"debug","z":"4c45768.dab7688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":1440,"wires":[]},{"id":"e3c8c4d8.f406d8","type":"inject","z":"4c45768.dab7688","name":"Add song to PlayQueue","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":1440,"wires":[["ee049b9f.398058"]]},{"id":"6b56bfd3.0833f","type":"comment","z":"4c45768.dab7688","name":"Check if the playlist exists in the Database","info":"If the song exists in our database, return 1, if not, return 0.","x":560,"y":1660,"wires":[]},{"id":"72371df5.e00e34","type":"function","z":"4c45768.dab7688","name":"Check if song exists","func":"msg.songExists=1;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1700,"wires":[["1508c819.bdc458"]]},{"id":"1508c819.bdc458","type":"switch","z":"4c45768.dab7688","name":"","property":"songExists","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":1700,"wires":[["27d0e682.b630fa"],["7ec06bfa.02e354"]]},{"id":"27d0e682.b630fa","type":"function","z":"4c45768.dab7688","name":"Return PlayQueue","func":"playqueue={\n  \"isEmpty\": false,\n  \"isShuffle\": true,\n  \"isRepeat\": true,\n  \"playerID\": msg.req.params.playerID,\n  \"songs\": [\n\n    {\n      \"title\": \"Come together\",\n      \"artist\": \"The Beatles\",\n      \"album\": \"Abbey Road\",\n      \"cover\": \"string\",\n      \"duration\": 259,\n      \"songID\": 123456789\n    }\n     \n  ]\n}\nmsg.payload=playqueue;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1660,"wires":[["8876c94c.17a008"]]},{"id":"a763272.5194dd8","type":"http response","z":"4c45768.dab7688","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1360,"y":1660,"wires":[]},{"id":"8876c94c.17a008","type":"function","z":"4c45768.dab7688","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1660,"wires":[["a763272.5194dd8"]]},{"id":"7ec06bfa.02e354","type":"function","z":"4c45768.dab7688","name":"Not Found","func":"message=\"Song Not Found.\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1740,"wires":[["45c46426.d869ac"]]},{"id":"280b33be.53c95c","type":"http response","z":"4c45768.dab7688","name":"","statusCode":"404","headers":{},"x":1360,"y":1740,"wires":[]},{"id":"45c46426.d869ac","type":"function","z":"4c45768.dab7688","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1740,"wires":[["280b33be.53c95c"]]},{"id":"8e9acbc7.1cba88","type":"function","z":"4c45768.dab7688","name":"Return PlayQueue","func":"playqueue={\n  \"isEmpty\": false,\n  \"isShuffle\": true,\n  \"isRepeat\": true,\n  \"playerID\": msg.req.params.playerID,\n  \"songs\": [\n      {\n      \"title\": \"Let's Dance\",\n      \"artist\": \"David Bowie\",\n      \"album\": \"Let's Dance\",\n      \"cover\": \"string\",\n      \"duration\": 222,\n      \"songID\": 111\n    },\n    {\n      \"title\": \"China Girl\",\n      \"artist\": \"David Bowie\",\n      \"album\": \"Let's Dance\",\n      \"cover\": \"string\",\n      \"duration\": 222,\n      \"songID\": 112\n    },\n     {\n      \"title\": \"Modern Love\",\n      \"artist\": \"David Bowie\",\n      \"album\": \"Let's Dance\",\n      \"cover\": \"string\",\n      \"duration\": 222,\n      \"songID\": 113\n    }\n     \n  ]\n}\nmsg.payload=playqueue;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":2080,"wires":[["2e1d5baa.624504"]]},{"id":"1cf8f5b0.2f868a","type":"comment","z":"4c45768.dab7688","name":"Check if the playlist exists in the Database","info":"If the song exists in our database, return 1, if not, return 0.","x":570,"y":2080,"wires":[]},{"id":"2f2a2b7b.618e14","type":"function","z":"4c45768.dab7688","name":"Check if album exists","func":"msg.albumExists=1;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":2120,"wires":[["25fac64.1876f3a"]]},{"id":"25fac64.1876f3a","type":"switch","z":"4c45768.dab7688","name":"","property":"albumExists","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":2120,"wires":[["8e9acbc7.1cba88"],["1664eb82.d05c94"]]},{"id":"f88abbac.05c958","type":"http response","z":"4c45768.dab7688","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1370,"y":2080,"wires":[]},{"id":"2e1d5baa.624504","type":"function","z":"4c45768.dab7688","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":2080,"wires":[["f88abbac.05c958"]]},{"id":"1664eb82.d05c94","type":"function","z":"4c45768.dab7688","name":"Not Found","func":"message=\"Album Not Found.\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":2160,"wires":[["27b176ca.e8803a"]]},{"id":"54dda4d9.f333ec","type":"http response","z":"4c45768.dab7688","name":"","statusCode":"404","headers":{},"x":1370,"y":2160,"wires":[]},{"id":"27b176ca.e8803a","type":"function","z":"4c45768.dab7688","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":2160,"wires":[["54dda4d9.f333ec"]]},{"id":"583ffe57.4debf","type":"function","z":"4c45768.dab7688","name":"Return PlayQueue","func":"playqueue={\n  \"isEmpty\": true,\n  \"isShuffle\": true,\n  \"isRepeat\": true,\n  \"playerID\": msg.req.params.playerID,\n  \"songs\": [\n      {\n      \"title\": \"Let's Dance\",\n      \"artist\": \"David Bowie\",\n      \"album\": \"Let's Dance\",\n      \"cover\": \"string\",\n      \"duration\": 228,\n      \"songID\": 111\n    },\n    {\n      \"title\": \"Common People\",\n      \"artist\": \"Pulp\",\n      \"album\": \"Different Class\",\n      \"cover\": \"string\",\n      \"duration\": 212,\n      \"songID\": 422\n    }\n     \n  ]\n}\nmsg.payload=playqueue;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":2520,"wires":[["7926420a.d2c0ec"]]},{"id":"10f116df.ee5209","type":"comment","z":"4c45768.dab7688","name":"Check if the playlist exists in the Database","info":"If the song exists in our database, return 1, if not, return 0.","x":570,"y":2520,"wires":[]},{"id":"476e09a.6be1ff8","type":"function","z":"4c45768.dab7688","name":"Check if playlist exists","func":"msg.playlistExists=1;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":2560,"wires":[["4285acac.c21ba4"]]},{"id":"4285acac.c21ba4","type":"switch","z":"4c45768.dab7688","name":"","property":"playlistExists","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":2560,"wires":[["583ffe57.4debf"],["ffd32b98.d756b8"]]},{"id":"c3c8310a.b2f47","type":"http response","z":"4c45768.dab7688","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1370,"y":2520,"wires":[]},{"id":"7926420a.d2c0ec","type":"function","z":"4c45768.dab7688","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":2520,"wires":[["c3c8310a.b2f47"]]},{"id":"ffd32b98.d756b8","type":"function","z":"4c45768.dab7688","name":"Not Found","func":"message=\"Album Not Found.\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":2600,"wires":[["35b6dbab.4e0414"]]},{"id":"1f245d34.83cb63","type":"http response","z":"4c45768.dab7688","name":"","statusCode":"404","headers":{},"x":1370,"y":2600,"wires":[]},{"id":"35b6dbab.4e0414","type":"function","z":"4c45768.dab7688","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":2600,"wires":[["1f245d34.83cb63"]]},{"id":"92e85571.62a4f8","type":"comment","z":"6d759f5a.8c726","name":"/album","info":"","x":311.25000190734863,"y":41.25,"wires":[]},{"id":"84f7d847.cd1248","type":"comment","z":"6d759f5a.8c726","name":"Create Album","info":"","x":770,"y":100,"wires":[]},{"id":"6869b8fd.841408","type":"http in","z":"6d759f5a.8c726","name":"Create Album","url":"/album","method":"post","upload":true,"swaggerDoc":"","x":330,"y":180,"wires":[["aa4a0fa2.846b5"]]},{"id":"384861aa.74a61e","type":"http response","z":"6d759f5a.8c726","name":"","statusCode":"201","headers":{},"x":1320,"y":160,"wires":[]},{"id":"4b70a637.573e48","type":"function","z":"6d759f5a.8c726","name":"Album Created","func":"message=\"Album Created.\";\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":160,"wires":[["302dce86.fa3352"]]},{"id":"302dce86.fa3352","type":"function","z":"6d759f5a.8c726","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 201;\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":160,"wires":[["384861aa.74a61e"]]},{"id":"aa4a0fa2.846b5","type":"function","z":"6d759f5a.8c726","name":"Check if file is valid","func":"msg.isValid=1;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["c72428ba.c024d8"]]},{"id":"c72428ba.c024d8","type":"switch","z":"6d759f5a.8c726","name":"","property":"isValid","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":180,"wires":[["4b70a637.573e48"],["ff1d0d24.e71c6"]]},{"id":"ff1d0d24.e71c6","type":"function","z":"6d759f5a.8c726","name":"Invalid Info","func":"message=\"Bad Request. Invalid Info.\";\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":220,"wires":[["da02ab50.2f1dc8"]]},{"id":"8d1b0f6a.b7529","type":"http response","z":"6d759f5a.8c726","name":"","statusCode":"400","headers":{},"x":1320,"y":220,"wires":[]},{"id":"da02ab50.2f1dc8","type":"function","z":"6d759f5a.8c726","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 400;\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":220,"wires":[["8d1b0f6a.b7529"]]},{"id":"579f9c01.b48764","type":"function","z":"35049ff1.e7bb","name":"Check if valid","func":"msg.isValid=1;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":300,"wires":[["1c1f2323.e8862d"]]},{"id":"1c1f2323.e8862d","type":"switch","z":"35049ff1.e7bb","name":"","property":"isValid","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":300,"wires":[["a1f7d685.049a58"],["c2b534d0.347a48"]]},{"id":"377a86fa.bcbdaa","type":"http response","z":"35049ff1.e7bb","name":"","statusCode":"400","headers":{},"x":1620,"y":340,"wires":[]},{"id":"92347773.1159a8","type":"function","z":"35049ff1.e7bb","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 400;\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":340,"wires":[["377a86fa.bcbdaa"]]},{"id":"c2b534d0.347a48","type":"function","z":"35049ff1.e7bb","name":"Invalid Input","func":"message=\"Bad Request. Invalid Input.\";\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":340,"wires":[["92347773.1159a8"]]},{"id":"3b4daed8.5e3c82","type":"http response","z":"35049ff1.e7bb","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1300,"y":680,"wires":[]},{"id":"56e5bb5e.e3d5a4","type":"function","z":"35049ff1.e7bb","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 201;\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":680,"wires":[["3b4daed8.5e3c82"]]},{"id":"2a21de8f.e9d9a2","type":"function","z":"35049ff1.e7bb","name":"Return Newsfeed","func":"newsfeed = {\n  \"userID\": 55,\n  \"date\": \"2020-04-12T23:20:50.52Z\",\n  \"followingActivities\": [\n    {\n      \"userID\": 96,\n      \"activityID\": 5555,\n      \"typeOfActivity\": \"uploaded an album\",\n      \"date\": \"2020-04-12T23:20:50.52Z\"\n    }, \n    {\n      \"userID\": 69,\n      \"activityID\": 6666,\n      \"typeOfActivity\": \"created a playlist\",\n      \"date\": \"2020-04-12T23:20:50.52Z\"\n    }\n  ]\n}\nmsg.payload = newsfeed;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":680,"wires":[["56e5bb5e.e3d5a4"]]},{"id":"d4d357b8.38f8a8","type":"http in","z":"14ec9ab1.7a9965","name":"Post Activity","url":"/activity","method":"post","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["2344b19c.c1443e"]]},{"id":"b21a10da.5ff78","type":"http response","z":"14ec9ab1.7a9965","name":"","statusCode":"201","headers":{"content-type":"application/json"},"x":780,"y":120,"wires":[]},{"id":"5cac9275.6f201c","type":"function","z":"14ec9ab1.7a9965","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 201;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["b21a10da.5ff78"]]},{"id":"2344b19c.c1443e","type":"function","z":"14ec9ab1.7a9965","name":"Return new activity","func":"activity = {\n  \"userID\": msg.payload.userID,\n  \"activityID\": 5555,\n  \"typeOfActivity\": msg.payload.typeOfActivity,\n  \"date\": msg.payload.date\n}\nmsg.payload=activity;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["5cac9275.6f201c"]]},{"id":"2606cfc.0e8163","type":"http request","z":"14ec9ab1.7a9965","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/activity","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":200,"wires":[["1e07c87f.280348"]]},{"id":"1e07c87f.280348","type":"debug","z":"14ec9ab1.7a9965","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":200,"wires":[]},{"id":"511cca9b.a5a384","type":"inject","z":"14ec9ab1.7a9965","name":"Post Activity","topic":"","payload":"{\"userID\":6666,\"typeOfActivity\":\"uploaded an album\",\"date\":\"2020-04-12T23:20:50.52Z\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":200,"wires":[["2606cfc.0e8163"]]},{"id":"277206d1.aad54a","type":"comment","z":"14ec9ab1.7a9965","name":"/activity","info":"","x":70,"y":40,"wires":[]},{"id":"f2746908.42c888","type":"comment","z":"14ec9ab1.7a9965","name":"Create an activity","info":"","x":460,"y":60,"wires":[]},{"id":"f1a3ac49.59aea","type":"http in","z":"14ec9ab1.7a9965","name":"Get Activities of a user","url":"/activity","method":"get","upload":false,"swaggerDoc":"","x":120,"y":540,"wires":[["a535615f.44229"]]},{"id":"fbe263f0.6f6c6","type":"function","z":"14ec9ab1.7a9965","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":500,"wires":[["2dc8ac3c.8f00f4"]]},{"id":"a535615f.44229","type":"function","z":"14ec9ab1.7a9965","name":"ExtractQueryParams","func":"msg.payload = msg.req.query;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":540,"wires":[["62ea3202.9259ac"]]},{"id":"7986364f.28b108","type":"function","z":"14ec9ab1.7a9965","name":"Return Activities ","func":"activity = {\n  \"userID\": msg.req.query.userID,\n  \"activityID\": 5555,\n  \"typeOfActivity\": \"uploaded an album\",\n  \"date\": msg.req.query.date\n}\nmsg.payload=activity;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":500,"wires":[["fbe263f0.6f6c6"]]},{"id":"c8dd5a29.13e998","type":"http request","z":"14ec9ab1.7a9965","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"http://127.0.0.1:1880/activity","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":640,"wires":[["3b8cd916.744ef6"]]},{"id":"3b8cd916.744ef6","type":"debug","z":"14ec9ab1.7a9965","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":640,"wires":[]},{"id":"b9a09f2.8c4cc6","type":"inject","z":"14ec9ab1.7a9965","name":"Get Activities of a user","topic":"","payload":"{\"userID\":666,\"date\":\"2020-04-12T23:20:50.52Z\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":640,"wires":[["c8dd5a29.13e998"]]},{"id":"2dc8ac3c.8f00f4","type":"http response","z":"14ec9ab1.7a9965","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1300,"y":500,"wires":[]},{"id":"4fd80ed3.c5986","type":"switch","z":"14ec9ab1.7a9965","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":540,"wires":[["7986364f.28b108"],["a9826109.b7145"]]},{"id":"62ea3202.9259ac","type":"function","z":"14ec9ab1.7a9965","name":"Check if activity exists","func":"foundActivities = 1;\nmsg.payload = foundActivities;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":540,"wires":[["4fd80ed3.c5986"]]},{"id":"a9826109.b7145","type":"function","z":"14ec9ab1.7a9965","name":"Activities Not Found","func":"message = \"Activities Not Found\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":580,"wires":[["192ff5a5.76566a"]]},{"id":"192ff5a5.76566a","type":"function","z":"14ec9ab1.7a9965","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":580,"wires":[["8314572.30e1ca8"]]},{"id":"8314572.30e1ca8","type":"http response","z":"14ec9ab1.7a9965","name":"","statusCode":"404","headers":{},"x":1300,"y":580,"wires":[]},{"id":"29ae4c72.383a04","type":"http in","z":"14ec9ab1.7a9965","name":"Get Activity Info","url":"/activity/:activityID","method":"get","upload":false,"swaggerDoc":"","x":180,"y":980,"wires":[["b9c1bcbb.dbebf"]]},{"id":"6159dc82.2c30a4","type":"http response","z":"14ec9ab1.7a9965","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1300,"y":940,"wires":[]},{"id":"138e5ab7.e04de5","type":"function","z":"14ec9ab1.7a9965","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":940,"wires":[["6159dc82.2c30a4"]]},{"id":"cd04c97f.d9e778","type":"function","z":"14ec9ab1.7a9965","name":"Return Activity","func":"activity={\n  \"userID\": 9999,\n  \"activityID\": msg.req.params.activityID,\n  \"typeOfActivity\": \"uploaded an album\",\n  \"date\": \"2020-04-12T23:20:50.52Z\"\n}\nmsg.payload=activity;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":940,"wires":[["138e5ab7.e04de5"]]},{"id":"fab59248.84285","type":"http request","z":"14ec9ab1.7a9965","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/activity/66","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":1100,"wires":[["29039e3e.3cba32"]]},{"id":"29039e3e.3cba32","type":"debug","z":"14ec9ab1.7a9965","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":1100,"wires":[]},{"id":"62ac0f62.d2297","type":"inject","z":"14ec9ab1.7a9965","name":"Get Activity","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":1100,"wires":[["fab59248.84285"]]},{"id":"e4ee255e.9e3568","type":"comment","z":"14ec9ab1.7a9965","name":"Get activity info","info":"","x":640,"y":900,"wires":[]},{"id":"15ed9cd9.562403","type":"comment","z":"14ec9ab1.7a9965","name":"/activity/:activityID","info":"","x":90,"y":840,"wires":[]},{"id":"b9c1bcbb.dbebf","type":"function","z":"14ec9ab1.7a9965","name":"ExtractURLParams","func":"msg.payload = msg.req.params;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":980,"wires":[["63305dc2.33a2e4"]]},{"id":"3a3ac92c.f34416","type":"comment","z":"14ec9ab1.7a9965","name":"Get Activities given the userID and the date","info":"","x":540,"y":460,"wires":[]},{"id":"63305dc2.33a2e4","type":"function","z":"14ec9ab1.7a9965","name":"Check if activity exists","func":"foundActivities = 1;\nmsg.payload = foundActivities;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":980,"wires":[["d124f910.8b5dc8"]]},{"id":"d124f910.8b5dc8","type":"switch","z":"14ec9ab1.7a9965","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":980,"wires":[["cd04c97f.d9e778"],["49fa31f8.939e"]]},{"id":"49fa31f8.939e","type":"function","z":"14ec9ab1.7a9965","name":"Activity Not Found","func":"message = \"Activity Not Found\"\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1000,"wires":[["216d6974.466e66"]]},{"id":"216d6974.466e66","type":"function","z":"14ec9ab1.7a9965","name":"ResponseHeaders","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1000,"wires":[["8e18d1cd.91614"]]},{"id":"8e18d1cd.91614","type":"http response","z":"14ec9ab1.7a9965","name":"","statusCode":"404","headers":{},"x":1300,"y":1000,"wires":[]},{"id":"5427e695.5e7248","type":"comment","z":"4c45768.dab7688","name":"/playqueue/:playerID","info":"","x":153,"y":427,"wires":[]},{"id":"a78bb235.3efb7","type":"comment","z":"a0ff3992.fc8b98","name":"/playlist/:playlistID/song","info":"","x":140,"y":2472,"wires":[]}]